html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  background-color: #fff;
}


/*header-blue*/

.header-blue {
  /* height: 68px; */
  margin-bottom: 50px;
  background: #1867aa;
  border-bottom: 1px solid #2799d5;
}

.icon1 {
  vertical-align: bottom;
  width: 20px;
}

.ul-menu li a.home:hover {
  color: #f9af00;
}

.logo {
  margin-top: 10px;
  margin-top: 10px;
}

.top-menu {
  margin-top: 10px;
}

.ul-menu {
  margin-top: 10px;
  float: right;
  margin-bottom: 10px;
}

.navbar-default .navbar-nav>li>a {
  color: #bedffe;
}


/* search*/

.carousel-control.color-left {
  background-image: none;
}

.carousel-control.color-right {
  background-image: none;
}


/*main1*/

.home-search {
  margin-top: 30px;
}

#main h1 {
  font-size: 22px;
  margin-top: 0;
  font-weight: bold;
  color: #1867aa;
  line-height: 25px;
  margin-bottom: 40px;
}

.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control.back-ground {
  background-color: #fff;
}

.input-txt {
  height: 40px;
  color: #000;
}

#departPlace {
  background: url(../images/vexe/location-v2.svg) no-repeat 100%;
  background-color: #fff;
  background-size: 16px;
  background-position-x: 205px;
  /*background-size: 20px 20px;*/
  background-position: 98% 10px;
  padding-left: 15px!important;
}

#destination {
  background: url(../images/vexe/location-v2.svg) no-repeat 100%;
  background-color: #fff;
  background-size: 16px;
  background-position-x: 205px;
  /*background-size: 20px 20px;*/
  background-position: 98% 10px;
  padding-left: 15px!important;
}

#date_start {
  background-repeat: no-repeat;
  background-image: url(../images/vexe/icon-2.svg);
  background-size: 20px 20px;
  background-position: 98% 10px;
  margin-bottom: 18px;
  width: 345px;
  margin-left: 15px;
}

#searchSubmit:before {
  content: "";
  background-image: url(../images/vexe/xe-1.svg);
  float: left;
  left: 18px;
  top: 15px!important;
  position: absolute;
  border-right: 1.8px solid #e5a100;
  padding-right: 10px;
  height: 30px;
  padding-top: 4px;
  width: 44px;
  background-size: 32px 30px;
  margin-right: 20px;
  background-repeat: no-repeat;
}

.search-submit {
  padding-right: 30px!important;
  padding-left: 30px!important;
}

.uppercase {
  text-transform: uppercase;
}

.fr {
  float: right!important;
}

#searchSubmit {
  box-sizing: content-box;
  display: inline-block;
  position: relative;
  padding: 10px 0 5px 0;
  color: #684d18;
  font-weight: bold;
  font-size: 18px;
  background-size: 90% 100%;
  background-repeat: no-repeat;
  /*tao khuyet 2 ben */
  background-image: radial-gradient(circle at 0 50%, rgba(255, 255, 224, 0) .4em, #f9af00 .5em), radial-gradient(circle at 100% 50%, rgba(255, 255, 224, 0) .4em, #f9af00 .5em);
  background-position: top left, top right;
  background-color: transparent;
  width: 100%;
  border: none;
  box-shadow: none;
  height: 40px;
}

.home-page2 {
  margin-top: 50px;
  margin-bottom: 50px;
}

.h2-text {
  font-size: 30px;
}

#number-panel {
  background: #fafafa;
  margin-bottom: 50px;
  padding: 25px 0 0;
}


/*main2*/

#number-panel {
  background: #fafafa;
  margin-bottom: 50px;
  padding: 25px 0 0;
}

.col {
  padding-left: 85px;
  height: 80px;
  background-repeat: no-repeat;
  background-size: 70px 55px;
  background-position: 0 0;
}

.col:nth-child(1) {
  background-image: url(../images/vexe/icon-kpi-road.svg);
}

.col:nth-child(2) {
  background-position-x: 0;
  background-image: url(../images/vexe/icon-kpi-bus.svg);
}

.col:nth-child(3) {
  background-image: url(../images/vexe/icon-kpi-ticket.svg);
}

.col:nth-child(4) {
  background-image: url(../images/vexe/icon-kpi-agent.svg);
}

.col p.num {
  font-size: 22px;
  font-weight: 700;
  color: #5e5e5e;
}

.col p {
  font-size: 16px;
  margin-bottom: 0;
  color: #575757;
}


/*main3*/

#about-us-pannel {
  padding-bottom: 60px;
}

.jcarousel ul {
  width: 1000em;
  position: relative;
  list-style: none;
  margin: 0;
  padding: 0;
}

.jcarousel ul li {
  width: 114px;
  float: left;
  border: 1px solid #fff;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.jcarousel-wrapper {
  margin: 20px auto;
  position: relative;
  box-shadow: 0 0 2px #999;
  border: 1px solid #fff;
  background: transparent;
}

.jcarousel {
  position: relative;
  overflow: hidden;
  width: 100%;
}


/*.slide-ja li {
  width: 114px;
  float: left;
  border: 1px solid #fff;
  -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
*/


/*
.slide-1 li {
  width: 114px;
  float: left;
  border: 1px solid #fff;
}
*/

.jcarousel img {
  display: inline-block;
  max-width: 100%;
  height: auto !important;
}

.jcarousel-control-prev {
  left: -20px;
}

.jcarousel-control-next {
  right: -20px;
}

.jcarousel-control-next:hover {
  text-decoration: none;
  color: #fff;
}

.jcarousel-control-prev:hover {
  text-decoration: none;
  color: #fff;
}

.jcarousel-control-prev,
.jcarousel-control-next {
  position: absolute;
  top: 50%;
  margin-top: -15px;
  width: 30px;
  height: 30px;
  text-align: center;
  background: transparent;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 1px #000;
  border-radius: 30px;
  font: 24px/27px Arial, sans-serif;
}

.awards-panel {
  padding-left: 85px;
  min-height: 100px;
  position: relative;
  background-repeat: no-repeat;
  background-image: url(../images/vexe/icon-award.svg);
  background-size: 75px;
  background-position-y: 18px;
}

.h5-text {
  margin-bottom: 30px;
  font-size: 30px;
}

.bold {
  font-weight: bold;
}

.awards-panel p {
  margin-bottom: 4px;
}

.awards-panel p:before {
  content: "— ";
  color: #1867aa;
}


/*main-4*/

.route-search-panel {
  background: #fafafa;
  padding: 0 0 25px 0;
  margin-bottom: 50px;
}

.col-txt {
  color: #1867aa;
  font-size: 24px;
  margin-bottom: 20px;
  text-transform: none!important;
  margin-top: 20px;
}

.nav-tabs>li>a {
  border-radius: 0!important;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
  color: #8E8E8E;
  font-weight: 700;
}

.nav-tabs>li>a:hover {
  color: #eee;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
  cursor: default;
}

.routes-list {
  padding: 0 20px;
}

ul.routes-list {
  margin-top: 20px;
}

ul.routes-list li {
  border-bottom: 1px #F4F4F4 solid;
  /* width: 550px; */
  height: 40px;
  padding-top: 10px;
  padding-bottom: 7px;
  margin-bottom: 5px;
  border-radius: 0!important;
}

.tab-pane {
  background: #fff;
  padding-bottom: 20px;
}

.tab-pane {
  border: 1px solid #dedede;
}

ul.routes-list span.route {
  font-size: 15px;
  font-weight: bold;
}

ul.routes-list span.route small {
  font-size: 15px;
  color: #111e67;
  font-weight: bold;
}

span.route {
  padding-left: 0;
  padding-top: 5px;
  background: 0;
}

ul.routes-list li:hover {
  background: #eee;
}

ul.routes-list li span {
  width: 245px;
  display: block;
  line-height: 18px;
  margin-top: 2px;
}

.fl {
  float: left!important;
}

ul.routes-list li span.price {
  color: #111e67;
  width: 120px;
  padding-top: 5px;
  font-size: 15px;
  font-weight: bold;
}

.routes-list li button {
  font-weight: bold;
  text-transform: none;
  font-size: 13px;
  text-decoration: none;
  line-height: 14px;
  display: block;
  position: absolute;
  z-index: 5;
  right: 5px;
  text-align: center;
  padding-left: 44px!important;
  background-image: radial-gradient(circle at 0 50%, rgba(255, 255, 224, 0) .4em, #f9af00 .5em), radial-gradient(circle at 100% 50%, rgba(255, 255, 224, 0) .4em, #f9af00 .5em);
  background-position: top left, top right;
  background-color: transparent!important;
  border: none;
  box-shadow: none;
  background-size: 80% 100%;
  background-repeat: no-repeat;
  padding: 6px 15px!important;
  height: 30px;
  width: 150px;
}

.span-text {
  font-weight: 600;
  font-style: italic;
  font-size: 14px;
  color: #999;
  display: block;
  margin-top: 5px;
}

.fl-r {
  float: right;
}

.text-bus {
  margin-bottom: 20px;
}

#news-panel {
  margin-top: 30px;
  margin-bottom: 50px;
}

#news-panel h4 {
  font-size: 22px;
  color: #1867aa!important;
  font-weight: bold!important;
  border-bottom: none;
}

#news .news-ctn {
  border-bottom: 1px solid #f0f0f0;
}

.news-ctn .news-tt {
  padding-top: 10px;
  border-top: 1px solid #f0f0f0;
}

#news p {
  margin-top: 5px;
}

.news-tt em {
  background: #e5e5e5;
  padding: 3px;
  font-size: 11px;
  font-style: normal;
}

#news p em {
  color: #626262;
}

.more {
  margin-top: 30px;
}

#news a {
  color: #999;
  font-weight: bold;
  font-size: 14px;
}

.img-circle {
  border-radius: 50%;
}

.posi-text {
  position: relative;
}

.customer-divider {
  position: absolute;
  z-index: -1;
  width: 100%;
  top: 15px;
  border-color: #ddd;
}

.p-text {
  margin-top: 20px;
}

.b-text {
  color: #1867aa;
  float: left;
  margin-right: 15px;
  font-size: 15px;
}

.user {
  margin-top: 15px;
}

.text-yellow {
  color: #f8af00;
}

.col-text {
  color: #000;
  margin-left: 10px;
}


/*footer*/

#backLinkDiv {
  background: #f5f5f5;
  padding-top: 30px;
}

#backLinkDiv h3 {
  font-size: 22px!important;
  margin: 10px 0 0 0!important;
  border-bottom: none;
  color: #1867aa!important;
  font-weight: bold!important;
}

.back-links ul {
  margin-top: 10px;
  margin-bottom: 10px;
}

#backLinkDiv a {
  font-size: 12px;
  color: #000;
}

.footer-1 {
  margin-top: 30px;
  margin-bottom: 30px;
}

#backLinkDiv ul {
  padding-left: 0;
  padding-top: 10px;
}

.back-links ul {
  margin-top: 10px;
}

#footer h4 {
  font-size: 22px;
  margin: 25px 0!important;
  font-weight: bold;
  color: #1867aa;
}

#footer .footer-links li {
  display: inline-block;
  float: left;
  clear: left;
  width: 100%;
  margin: 4px 0;
}

#footer .footer-links li a {
  color: #666;
  font-weight: 300;
}

#footer .social .fb {
  background: url(../images/vexe/icon-facebook.svg) no-repeat;
}

#footer .social .yt {
  background: url(../images/vexe/icon-youtube.svg) no-repeat;
}

#footer .social .google-plus {
  background: url(../images/vexe/icon-google-plus.svg) no-repeat;
}

#footer .social a {
  display: block;
  width: 34px;
  height: 34px;
  float: left;
  margin-right: 15px;
  font-size: 0;
  text-indent: -9999px;
}

.ul-user li a img {
  margin-bottom: 10px;
  margin-top: 10px;
}

.copyright-panel {
  margin-top: 30px;
  border-top: 1px solid #f0f0f0;
  padding-top: 20px;
}

.copyright-panel .footer-info-panel {
  padding-left: 20px;
}

.copyright-panel p {
  margin-bottom: 0;
  font-size: 13px;
}

.logo-1 {
  margin-right: 20px;
  width: 55px;
  height: 55px;
  float: left;
}

.info-panel .footer-logo {
  position: absolute;
  left: 0;
}

.text-p1 {
  margin-top: 20px;
}

.copyright-panel .footer-info-panel {}

#datepicker {
  margin: 0 0px 20px 0px;
}

#datepicker > span:hover {
  cursor: pointer;
}


/*slide-anh*/

#routeSearch {
  max-width: 1170px;
  margin: 20px auto;
  padding: 0 15px;
}

.content-slider {
  position: relative;
}

.section-content {
  padding: 20px 0;
}

.slick-track {
  opacity: 1;
  width: 4169px;
  transform: translate3d(-1137px, 0px, 0px);
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;
  padding-left: 3px;
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;
}

.slick-slider {
  margin-bottom: 30px;
}

.slick-slide {
  display: block;
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px;
}

.slick-cloned {
  width: 311px;
}

.slick-slide img {
  width: 100%!important;
  position: absolute;
  left: 0;
  top: 0;
}

.section-content {
  padding: 20px 0;
}

.slick-initialized .slick-slide {
  background: url(../images/vexe/sprite-bg-ticket-slider.png) no-repeat top center;
  height: 260px;
  width: 306px!important;
  margin-left: 68px;
  position: relative;
}

span.title {
  background: none!important;
  color: #5f5f5f!important;
  bottom: -15px!important;
  position: relative;
  line-height: 80px!important;
  height: 80px!important;
  text-transform: uppercase!important;
  font-size: 14px!important;
}

.slick-overlay {
  background: rgba(0, 0, 0, .75);
  text-align: center;
  width: 275px;
  position: relative;
  left: 15px;
  top: 15px;
  height: 175px;
  overflow: hidden;
}

.slick-slide:hover {
  background-position: bottom center
}

.slick-slide:hover img {
  -webkit-transition: opacity .7s ease;
  -moz-transition: opacity .7s ease;
  opacity: .3
}

.slick-slide:hover a {
  color: #1b7cda
}

span.title {
  display: block;
  background: #1f63a5;
  color: #fff;
  font-weight: 600;
  font-size: 14px;
  text-align: center;
  line-height: 32px;
  height: 32px;
  bottom: 0;
  width: 295px;
}


/*.slick-slider .slick-track, .slick-slider .slick-list {
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}
#busNetwork .slick-next, #routeSearch .slick-next, #stations .slick-next {
    right: 0!important;
}*/


/*nut next*/

.slick-prev {
  background-image: url(../images/vexe/arrow-l-s.svg) !important;
  background-repeat: no-repeat!important;
}

.slick-next {
  background-repeat: no-repeat!important;
  background-image: url(../images/vexe/arrow-r-s.svg)!important;
}

.slick-prev::before {
  color: #eee;
  content: "←";
}

.slick-prev:before,
.slick-next:before {
  font-size: 0px;
}

.slick-next::before {
  content: "→";
  color: #eee;
}

.slick-slide a:hover {
  text-decoration: none
}


/*button xem them*/

.bt-info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 15px;
  text-transform: uppercase;
  border: 1px #fcb80e solid;
  color: #fcb80e;
  font-weight: bold;
  font-style: normal!important;
  position: relative;
  margin: 0 auto;
  margin-top: 70px;
  z-index: 1;
  opacity: 0;
  -webkit-transition: opacity .5s ease;
  -moz-transition: opacity .5s ease;
}

.slick-slide:hover .slick-overlay p {
  opacity: 1;
}

.image {
  width: 100%!important;
  position: absolute;
  left: 0;
  top: 0;
}

.img {
  vertical-align: middle;
}


/*chon ngay */

.ui-datepicker-trigger:active {
  outline: none
}

button.ui-datepicker-trigger:before {
  content: "";
  background-image: url('../images/vexe/vexere-bus-icon-sm.svg');
  background-repeat: no-repeat;
  float: left;
  left: 13px;
  top: 4px;
  position: absolute;
  border-right: 1.8px solid #e5a100;
  padding-right: 5px;
  height: 26px;
  padding-top: 5px;
  width: 22px;
  background-size: 15px 28px
}


/*........................trang dat ve xe..................................................... */


/*header*/

.header-blue {
  margin-bottom: 0px;
}

#header {
  margin-bottom: 10px;
}

.route-title-bus-ticket {
  float: right;
}

.route-title {
  font-weight: bold;
}

.title-text-route {
  font-size: 20px;
  font-weight: bold;
  line-height: 28px;
  padding: 0;
  margin: 0;
  margin-right: 12px;
  text-align: left;
}

.text-gray {
  color: #9a9a9a !important;
}

.date-container {
  text-align: left;
}

.date-container {
  position: relative;
}

.mt10 {
  margin-top: 10px !important;
}

.h6 {
  font-size: 12px;
  margin-bottom: 10px;
}

p,
a {
  font-weight: 400;
  font-size: 13px;
}


/*search*/

.ticket-search-filter {
  background: #f9af00;
  margin-top: 0;
  margin-bottom: 0;
  padding: 10px 0;
}

.ticket-search-filter .form-inline {
  padding-top: 5px;
  padding-bottom: 5px;
}

.ticket-search-filter .location-search {
  background: url(../images/vexe/location-v2.svg) no-repeat 100%;
  background-color: #fff;
  background-size: 16px;
  background-position-x: 205px;
}

.ui-helper-hidden-accessible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

.ticket-search-filter input {
  padding: 10px 0 10px 10px;
  background: #fff;
  border: 0 !important;
  -moz-border-radius: 0;
  border-radius: 5px !important;
  width: 230px;
}

.form-group {
  position: relative;
}

.switchButton {
  font-weight: bold;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 35px;
  color: #fff;
}

.departDate-fg {
  margin-left: 20px;
}

.ticket-search-filter .calendar-search {
  background: url(../images/vexe/vexe/calendar-v2.svg) no-repeat 100%;
  background-color: #fff;
  background-size: 20px;
  background-position-x: 200px;
  padding-left: 60px;
}

.ticket-search-filter .departDate-fg {
  margin-left: 20px;
}

.departDate-fg .fa-caret-left {
  font-size: 20px;
  left: 30px;
}

.departDate-fg .fa-caret-right {
  font-size: 20px;
  right: 240px;
}

.ticket-search-filter .form-group i {
  position: absolute;
  bottom: 12px;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#departDate {
  border-radius: 5px 0 0 5px !important;
}

.fr {
  float: right !important;
}

.form-inline .form-group {
  display: inline-block;
  margin-bottom: 0;
  vertical-align: middle;
}

.ticket-search-filter .btn-today {
  margin: 0;
  background-color: #a6a6a6;
  color: #fff;
  font-size: 16.8px;
}

.ticket-search-filter .btn-tomorrow {
  margin: 0;
  background-color: #a6a6a6;
  color: #fff;
  font-size: 16.8px;
  border-left: 1px solid #8c8c8c;
  border-radius: 0 5px 5px 0 !important;
}
.date-picker-nav .btn {
    padding: 6px 10px !important;
    background: #fff;
    color: #1867bc !important;
    font-weight: bold;
    font-size: 20px;
}

.btn-today {
  margin-top: 13px;
  font-size: 11px;
  border-radius: 0;
  padding: 8px;
  margin-left: 0;
}

.btn-tomorrow {
  margin-top: 13px;
  font-size: 11px;
  border-radius: 0;
  padding: 8px;
  margin-left: 0;
}

.ticket-search-filter #searchSubmit-1 {
  color: #fff;
  background: #177bd0 !important;
  padding: 9px 25px;
  border-radius: 5px !important;
  font-size: 16px;
  font-weight: bold;
  margin-top: 4px;
}


/*bang tim ve xe*/

.searchResults {
  margin-top: 65px;
}

.filter-table {
  margin-top: 15px;
}

.mb0 {
  margin-bottom: 0 !important;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.filter-table tbody>tr>td {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
  vertical-align: middle;
  position: relative;
}

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: 20px;
}

.comp-name-container {
  width: 100%;
  background: url(../images/vexe/vexere-ico.svg) no-repeat 100%;
  background-size: 25px;
  background-position-x: 0;
  background-position-y: 0;
  padding-left: 50px;
}

table {
  background-color: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

tbody {
  display: table-row-group;
  vertical-align: middle;
  border-color: inherit;
}

.dvSearchFilter {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  height: 50px !important;
}

.table>tfoot>tr>td {
  padding: 8px;
  line-height: 1.42857143;
  vertical-align: top;
  border-top: 1px solid #ddd;
}

.table-noborder,
.table-noborder td {
  border: 0 !important;
}

.filter-table td {
  background: url(../images/vexe/filter.svg) no-repeat 100%;
  background-size: 12px;
  background-position-x: 80px;
  background-position-y: 5px;
  width: 125px !important;
}

.dvSearchFilter {
  background: #efefef;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 0px;
  margin: 0px;
}

.searchResults .table>tbody>tr>td {
  border-bottom-color: #d6d6d6 !important;
}

.searchResults .table>tbody>tr>td,
.searchResults .table>tbody>tr>th,
.searchResults .table>tfoot>tr>td,
.table>tfoot>tr>th,
.searchResults .table>thead>tr>td,
.searchResults .table>thead>tr>th {
  border-top: 0;
  border-bottom: 1px solid #eee;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 13px;
}

.service-plus-in img {
  display: inline-block;
  width: 20px;
  margin-right: 15px;
}

.searchResults h6 {
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
  width: 100%;
}

.comp-name-title {
  height: 30px;
}

.pl0 {
  padding-left: 0 !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mt0 {
  margin-top: 0 !important;
}

.searchResults h6.span-from-time,
.searchResults h6.span-to-time {
  font-size: 18px !important;
  color: #343434;
}

.text-gray3 {
  color: #343434 !important;
}

.pr5 {
  padding-right: 5px;
}

.mt25 {
  margin-top: 25px !important;
}

.pl5 {
  padding-left: 5px;
}

.mb3 {
  margin-bottom: 3px;
}

.hover-blue-text:hover {
  color: #1867bc !important;
  opacity: 1 !important;
  font-weight: bold;
}

.hover-orange-border:hover {
  border-bottom: 1px #f9af00 solid;
}

.chinh-sach-huy {
  float: left;
  width: 100%;
  margin-top: 27px;
}

td>.rate-star {
  width: 100%;
  margin-bottom: 0 !important;
}

.rate-star {
  margin-left: 0;
}

.BusQualityRating {
  background: #1867BC;
  display: inline-block;
  color: #fff;
  padding: 1px 4px;
  border-radius: 3px;
  font-weight: bold;
  margin-right: 5px;
  font-family: 'Lato';
}

.blue:hover {
  background: #e31c3d;
  display: inline-block;
  color: #fff;
  padding: 1px 4px;
  border-radius: 3px;
  font-weight: bold;
  margin-right: 5px;
  font-family: 'Lato';
}
.comment-text {
    background: url(../images/vexe/note.svg) no-repeat 100%;
    background-size: 16px;
    background-position-x: 0;
    padding-left: 20px;
    background-position-y: -1px;
}
/*button*/
.w100 {
    width: 100px;
}
.btn-vxr-lg {
    box-sizing: content-box;
    display: inline-block;
    position: relative;
    padding: 10px 0 0 0;
    height: 30px;
    color: #684d18;
    font-weight: bold;
    font-size: 14px;
    background-size: 90% 100%;
    background-repeat: no-repeat;
    background-image: -webkit-radial-gradient(circle at 0 50%,rgba(255,255,224,0) .4em,#ffffe0 .5em),-webkit-radial-gradient(circle at 100% 50%,rgba(255,255,224,0) .4em,#ffffe0 .5em);
    background-image: -webkit-radial-gradient(0 50% circle,rgba(255,255,224,0) .4em,#ffffe0 .5em),-webkit-radial-gradient(100% 50% circle,rgba(255,255,224,0) .4em,#ffffe0 .5em);
    background-image: radial-gradient(circle at 0 50%,rgba(255,255,224,0) .4em,#f9af00 .5em),radial-gradient(circle at 100% 50%,rgba(255,255,224,0) .4em,#f9af00 .5em);
    background-position: top left,top right;
    background-color: transparent !important;
    border: none;
    box-shadow: none;
    border-radius: 0;
    padding-left: 25px;
}
.btn-vxr-lg:before {
    content: "";
    background-image: url(../images/vexe/vexere-bus-icon-sm.svg);
    background-repeat: no-repeat;
    float: left;
    left: 12px;
    top: 7px;
    position: absolute;
    border-right: 1.8px solid #e5a100;
    padding-right: 5px;
    height: 28px;
    padding-top: 5px;
    width: 22px;
    background-size: 15px 28px;
}
.service-plus-in a {
    border-bottom: 0 !important;
}

.link {
    cursor: pointer;
    -webkit-transition: all ease-out .5s;
    -moz-transition: all ease-out .5s;
    -o-transition: all ease-out .5s;
    transition: all ease-out .5s;
}
.busInfo li {
    display: inline-block;
    text-align: center;
    vertical-align: top;
}
.lichtrinh {
    width: 100%;
    text-align: center;
    margin-top: 25px !important;
}
.ml5 {
    margin-left: 5px !important;
}
.busInfo {
    list-style-type: none;
    display: inline-block;
    padding: 0 !important;
    margin: 0 !important;
    margin-left: -5px !important;
}
.hover-orange-border:hover {
    border-bottom: 1px #f9af00 solid;
}
.service-plus-in {
    margin: 0;
    padding: 0;
    margin-bottom: 22px;
    margin-top: 10px;
    height: 22px;
}
/*thong tin chi tieet xe*/

.route-illus {
    position: relative;
    top: 0;
}
.right-detail {
    margin-right: 15px;
    width: 48%;
}

.border-note {
    border: 1px solid #d7d7d7;
    border-radius: 5px;
    padding: 0;
}
h2.title-road-backlink {
    font-size: 14px;
}

.title-road-backlink {
    display: inline-block;
    border-bottom: 1px #d7d7d7 solid;
    padding: 10px 15px;
    margin-bottom: 10px;
    position: relative;
    color: #333;
    background: #f8f8f8;
    margin: 0 !important;
    width: 100%;
    border-radius: 5px 5px 0 0;
    font-weight: bold;
}
.road span {
    position: absolute;
    left: 41%;
    z-index: 2;
    color: #bbb;
    background: #4c4c4c;
    padding-left: 10px;
    padding-right: 10px;
    text-transform: uppercase;
    top: 5px;
    font-size: 14px;
}
.list-detail-route {
    padding: 0;
    list-style: none;
    margin-top: 10px;
    margin-bottom: 10px;
}
.list-detail-route li {
    border-bottom: 1px solid #d7d7d7;
    display: inline-block;
    width: 96%;
    margin-top: 5px;
}
b, strong {
    font-weight: bold;
}
.text-left {
  margin-bottom: 8px;
    text-align: left !important;
}
.preloader_horizontal {
    min-width: 100px;
    width: 100%;
    height: 120px;
    position: absolute;
    bottom: 0;
    left: 0;
    overflow: hidden;
    -webkit-transform: translateZ(0) translate(-50%,0);
    transform: translateZ(0) translate(0,0);
    z-index: 2;
}
.road-point {
    position: relative;
    height: 420px;
    width: 100%;
    overflow: hidden;
}
.road {
    width: 100%;
    height: 30px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    background-color: #4c4c4c;
    border-top: 1px #999 solid;
    border-bottom: 1px #999 solid;
}
.road::after {
    content: "";
    width: 100%;
    position: absolute;
    top: 50%;
    border-bottom: 2px dashed #777;
}
/*cac bang */
.from-search-detail {
    background: #f5f5f5;
    height: 350px;
    position: relative;
    box-shadow: 0 3px 7px #dcdcdc;
}
.promotiont-search {
    width: 9%;
}
.from-search-detail div {
    width: 15%;
}
.list-property {
    list-style: none;
    height: 220px;
    overflow-x: hidden;
    overflow-y: auto;
}
.from-search-detail span {
    width: 100%;
    border: 0;
    text-align: center;
    margin-top: 18px;
    margin-bottom: 5px;
    text-transform: uppercase;
    background-color: #f5f5f5;
    height: 30px;
    display: inline-block;
}
.from-search-detail .tex-search {
    width: 100%;
    border: 0;
    border-bottom: 1px solid;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    background: url(../images/vexe/search.svg) no-repeat 100%;
    background-color: #f5f5f5;
    background-size: 16px;
    background-position-x: 0;
    height: 30px;
}
.nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
}
.logo-sm {
    position: absolute;
    bottom: 10px;
    left: 49%;
    width: 45px;
}
.btn-close-road {
    padding: 0;
}

.btn-close-road {
    position: absolute;
    right: 5px;
    top: 5px;
}

.searchResults .bus-content {
  display: none;
    margin-top: 0;
    padding-top: 0;
    padding-left: 2px;
    padding-right: 2px;
    background: #2461aa;
    position: relative;
}
/*trang chinh sach huy ve */
.foot-vxr-panel {
    position: relative;
    bottom: 0;
    padding-left: 5px;
    padding-right: 5px;
}
.nav-tabs {
    border-bottom: 1px solid #ddd;
}
.table .table {
    background-color: #fff;
}
.mt20 {
    margin-top: 20px !important;
}
/*.tab-content>.active {
    display: block;
}*/
.searchResults h6.thin200 {
    width: 50%;
    margin: 0;
    padding: 5px;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
}
.foot-vxr-panel h6, .foot-vxr-panel b>a {
    color: #fff !important;
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #f9f9f9;
}
.searchResults .bus-content .tab-content {
    min-height: 120px;
}
.searchResults .bus-content .tab-content {
    border-bottom: 0;
    border-color: #eee;
}

.bus-content .tab-content {
    background: #fff;
    border: 1px solid #ddd;
    padding: 20px 20px;
    margin-top: -2px;
}
.nav-tabs>li {
    float: left;
    margin-bottom: -1px;
}

.nav>li {
    position: relative;
    display: block;
}
 .searchResults .table>thead>tr>th {
    border-top: 0;
    border-bottom: 1px solid #eee;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 13px;
}
.table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.searchResults .table>tbody>tr>td {
    border-bottom-color: #d6d6d6 !important;
}
