

 <header id="header">
    <div class="container">
      <div class="row header-row">
        <div class="col-md-12 col-sm-12 col-xs-12 mt10 date-container ">
          <h6 class="mt0 route-title hidden-sm hidden-xs route-title-bus-ticket">
                            <span class="mt0 mb0 text-gray"><a href="/">Vé xe khách</a>  &gt; <a href="#">Xe khách từ Sài Gòn  đi  Hà Nội</a> </span>

                    </h6>
          <input id="routeName" type="hidden" value="Sài Gòn - Hà Nội">
          <h1 class="title-text-route">
                        <span class="hidden-xs hidden-sm">Vé xe từ</span>   Sài Gòn  <i class="pl5 pr5 text-gray left-arrow">→</i>  Hà Nội
                    </h1>
          <div class="date-picker-nav hidden-md hidden-lg text-center">
            <div class="btn-group btn-group-xs" role="group">
              <button id="btPrevDate" type="button" class="btn btn-default"><img class="img-change-date" src="images/icon-previous.png"></button>
              <input type="button" id="span-current-date" value="12-06-2017" tabindex="1" class="btn btn-vxr current-date hasDatepicker">
              <button id="btNextDate" type="button" class="btn btn-default"><img class="img-change-date" src="images/icon-next.png"></button>
            </div>
          </div>
          <div class="pull-left ml10 modify-container hidden-lg hidden-md hidden-sm">
            <a id="btModify" class="text-blue" href="#"></a>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div id="dvSearchTicket" class="ticket-search-filter ">
    <div class="container desktop-route-search hidden-xs">
      <form id="searchForm" class="form-inline">
        <input type="hidden" id="search-busoperator-id" value="0">
        <input type="hidden" id="search-busoperator-name">
        <div class="form-group">
          <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
          <input onfocus="this.select();" onmouseup="return false;" id="departPlace" name="departPlace" type="text" value="Sài Gòn" class="input-txt place ui-autocomplete-input location-search" placeholder="Gõ vào tỉnh đi" accesskey="1" tabindex="1" autocomplete="off">
          <input type="hidden" id="start-point-type" value="1">
          <input type="hidden" id="start-point-id" value="29">
        </div>
        <div class="form-group hidden-xs">
          <a href="#" class="switchButton">⇌</a>
        </div>
        <div class="form-group">
          <span role="status" aria-live="polite" class="ui-helper-hidden-accessible"></span>
          <input onfocus="this.select();" onmouseup="return false;" id="destination" name="destination" type="text" value="Hà Nội" class="input-txt place ui-autocomplete-input location-search" placeholder="Gõ vào tỉnh đến" accesskey="2" tabindex="2" autocomplete="off">
          <input type="hidden" id="stop-point-type" value="1">
          <input type="hidden" id="stop-point-id" value="24">
        </div>
        <div class="form-group departDate-fg">
          <i class="fa fa-caret-left" id="mbtPrevDate"></i>
          <i class="fa fa-caret-right" id="mbtNextDate"></i>
          <input id="departDate" readonly="" name="departDate" type="text" class="input-txt date calendar-search hasDatepicker" placeholder="Chọn ngày đi" accesskey="1" tabindex="3" value="12-06-2017">
          <div class="form-group quick-date-select fr hidden-xs hidden-sm">
            <button type="button" class="fl btn btn-gray btn-today" onclick="$('#departDate').val(moment().format('DD-MM-YYYY'));">Hôm nay</button>
            <button type="button" class="fl btn btn-gray btn-tomorrow" onclick="$('#departDate').val(moment(moment().add('days', 1)).format('DD-MM-YYYY'))">
              Ngày mai
            </button>
          </div>
        </div>
        <div class="form-group pull-right center-m">
          <button id="searchSubmit-1" name="searchSubmit" type="submit" class="submit-btn btn  search-btn" tabindex="4">
            Tìm Vé Xe Rẻ
          </button>
        </div>
      </form>
    </div>
    <div class="mobi-display hidden-ms">
    </div>
  </div>
  <div id="dvSearchFilter" class="dvSearchFilter col-12 col-md-12 col-xs-12">
    <div class="container filter-container ">
      <table class="table filter-table table-noborder mb0 hidden-xs ">
        <tbody>
          <tr>
            <td class="pl0 td-bus-operater-filter operater-filter ">
              Hãng xe
            </td>
            <td class="hidden-xs ">
              <span class="operater-filter ">Giờ đi</span>
              <i id="departure-time " class="fa fa-sort-desc vt from-time-sort-i "></i>
            </td>
            <td class="hidden-xs operater-filter ">
              Nơi đi
            </td>
            <td class="hidden-xs operater-filter ">
              Nơi đến
            </td>
            <td class="hidden-xs operater-filter ">
              Loại xe
            </td>
            <td class="hidden-xs operater-filter ">
              Tiện ích
            </td>
            <td class="td-rate-filter giave-order ">
              <a id="rateFilter " class="mr10 ">Đánh giá</a> <i class="fa fa-sort-desc vt rate-sort-i "></i>
            </td>
            <td class="td-fare-filter giave-order ">
              <a id="fareFilter " class="mr10 ">Giá vé</a> <i class="fa fa-sort-desc vt fare-sort-i "></i>
            </td>
          </tr>
        </tbody>
      </table>
      <ul class="visible-xs filter-mobile-header ">
        <li id="li-departure-time "><a href="# ">Giờ chạy</a><i class="fa fa-sort-desc vt from-time-sort-i "></i></li>
        <li id="li-rating "><a href="# ">Đánh giá</a><i class="fa fa-sort-desc vt rate-sort-i "></i></li>
        <li id="li-fare "><a href="# ">Giá vé</a> <i class="fa fa-sort-desc vt fare-sort-i "></i></li>
        <li id="li-filter "><a href="# ">Lọc</a></li>
      </ul>
    </div>
  </div>
  <!--main-->
  <!--chon cho- dat ve xe -->

<section class="searchResults ">
    <div id="main " class="container " style=" ">
      <div id="replaceDiv ">
        <div id="searchResults ">
         
          <div class="bus-content ">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs " role="tablist " data-compid="528 " data-tripid="0 " fromstop-id="765 " tostop-id="803 ">
          <li role="presentation " class="col-md-2 col-sm-2 col-xs-2 text-center "><a href=" " title="Chính sách hủy vé Mai Linh " aria-controls="chinhsachhuyve " class="ticket-cancellation-tab " role="tab " data-toggle="tab " style="width:235px ">Chính sách hủy vé</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content ">
          <div role="tabpanel " class="tab-pane fare-table-pane active " id="banggia " data-time="15:00 ">
          </div>
          <div role="tabpanel " class="tab-pane " id="trungchuyen ">
            <div class="row ">
              <div class="col-md-6 ">
                <p style="font-size:24px ">Trung chuyển tại Sài Gòn</p>
                <div id="transfer-from-765-15-00 "></div>
              </div>
              <div id="transfer-to-panel-765-15-00 " class="col-md-6 " style="border-left: 1px solid #ccc ">
                <p style="font-size:24px ">Trung chuyển tại Hà Nội</p>
                <div id="transfer-to-765-15-00 "></div>
              </div>
            </div>
          </div>
          <div role="tabpanel " class="tab-pane " id="danhgia ">
          </div>
          <div role="tabpanel " class="tab-pane " id="hinhanh ">
          </div>
          <div role="tabpanel " class="tab-pane " id="chinhsachhuyve ">
          </div>
        </div>
        <div class="foot-vxr-panel ">
          <h6 class="text-wblue thin200 pull-left ">VeXeRe.com - Hệ thống vé xe lớn nhất Việt Nam</h6>
          <img class="logo-sm " src="images/logo-sm.svg " alt=" ">
          <h6 class="thin200 ">
                        <span class="text-wblue thin200 pull-right ">Mọi thắc mắc vui lòng gọi hotline: <b><a href="tel:1900 969681 ">1900 969681</a></b> - <b><a class="hotline-link " href="tel:1900 7070 ">1900 7070</a></b></span>

                </h6>
        </div>
        <span class="btn btn-close-road "><img src="images/btn-close.png " alt=" "></span>
      </div><table class="table result-list ">
            <!-- Result item row-->
            <tbody>
              <tr class="schedule-ticket result-item product_box col-12 col-md-12 col-xs-12 ">
          <td class="col-2 col-md-2 col-xs-2 pl0 " style="z-index: 1; ">
           
           
            <p class="route hidden ">Hồ Chí Minh - Hà Nội</p>
            <div class="pull-left ml10 comp-name-container ">
              
              <h6 class="mt0 mb10 comp-name-title text-gray3 ">Hoàng Long</h6>
              <div class="col-lg-12 service-plus-in hidden-xs ">
                <img src="images/wifi.svg ">
                <img src="images/Water.svg ">
              </div>
              
              
              
            </div>
          </td> <!--1-->
    <td class=" col-4 col-md-4 col-xs-4 hidden-xs detail-route ">
      <div class="col-12 ml10 text-center ">
        <div class="col-5 col-md-5 ">
          <h6 class="span-from-time mt0 mb5 " data-busticketstatus="2 " data-workingtime="False " data-istetticket="0 " data-tripid="0 " data-pickupdate="07:00 12-06-2017 ">
                            07:00
          </h6>
        </div>
        <div class="col-2 col-md-2 "><i class="pl5 pr5 text-gray3 left-arrow ">→<br>34h</i></div>
        <div class="col-5 col-md-5 ">
          <h6 class="span-to-time mt0 mb5 " data-busticketstatus="2 " data-workingtime="False " data-istetticket="0 ">
                            17:00
                        </h6>
        </div>
        <div class="clearfix "></div>
        <div class="col-5 col-md-5 hidden-xs hidden-sm mt25 ">
          <ul class="busInfo ">
            <li>
              <a class="mt0 depart-station ticket-detail-tab-link text-route-link hover-orange-border hover-blue-text " data-appended="0 " data-trip-id="0 " data-time="07:00 " data-id="29 " data-value="Hồ Chí Minh " href="# " onclick="return false; " data-tab="banggia " data-text="Hồ Chí... ">
                            Hồ Chí Minh
            </a>
            </li>
          </ul>
        </div>
        
        <div class="col-5 col-md-5 hidden-xs hidden-sm mt25 ">
          <ul class="busInfo ">
            <li>
              <a class="mt0 destination-station ticket-detail-tab-link text-route-link hover-orange-border hover-blue-text " data-appended="0 " data-trip-id="0 " data-time="07:00 " data-id="24 " data-value="Hà Nội " href="# " onclick="return false; " data-tab="banggia " data-text=" Hà Nội ">
                            Hà Nội 
                            <div class="pop-vxr w300 destination-station-tip " style="display: none; ">
                                <div class="head-pop clearfix ">
                                    <h5 class="mb5 mt5 ">ĐIẾM ĐẾN / TRẢ DỌC ĐƯỜNG</h5>
                                </div>
                                <div class="body-pop ">
                                    <h5 class="mt0 mb5 ">

                                        Hà Nội (Điểm đến) <span>17:00</span>
                                    </h5>
                                    <div class="div-pickup-info-24-07-00 ">
                                        <p class="mt10 ">Địa chỉ: Hà Nội - Hà Nội - Hà Nội</p>
                                    </div>
                                </div>
                                <div class="footer-pop clearfix ">
                                    <img class="logo-sm " src="images/logo-sm.svg " alt=" ">
                                </div>
                            </div>
                        </a>
            </li>
          </ul>
        </div>
        
        
        
      </div>
    </td>
    <td class="pl0 hidden-xs col-2 col-md-2 col-xs-2 ">
      <p class="vehicle-type-p mb3 text-center text-gray3 " data-value="38 ">
        Giường nằm 38 chỗ
      </p>
      
      <p class="text-center chinh-sach-huy ">
        <a class="ml5 ticket-detail-tab-link text-route-link hover-orange-border hover-blue-text link-chinh-sach-huy hidden-xs hidden-sm " data-tab="chinhsachhuyve " href="# " data-text="Chính sách hủy vé ">
                Chính sách hủy vé
            </a>
      </p>
    </td>
    <td class="text-left hidden-xs hidden-sm col-md-2 col-xs-2 text-center ">
      
      <ul class="list-inline pull-left rate-star " data-value="4,038889 ">
        <li><i class="glyphicon glyphicon-star text-yellow "></i></li>
        <li><i class="glyphicon glyphicon-star text-yellow "></i></li>
        <li><i class="glyphicon glyphicon-star text-yellow "></i></li>
        <li><i class="glyphicon glyphicon-star text-yellow "></i></li>
        <li><i class="glyphicon glyphicon-star text-gray "></i></li>
      </ul>
      <div style="margin-top: 46px; ">
        
        <a class="rating-link ticket-detail-tab-link text-route-link hover-blue-text hover-orange-border tooltipstered " href="# " data-tab="danhgia ">
          <span class="BusQualityRating blue ">3,9/5</span> 180 <span></span> đánh giá <i class="fa fa-sort-desc vt "></i>
          <div class="pop-vxr w300 bus-rating-tip " style="display: none; ">
            <div class="head-pop clearfix ">
              <h5 class="mb5 mt5 ">ĐÁNH GIÁ NHÀ XE</h5>
            </div>
            <div class="body-pop ">
              <h5 class="mt0 mb5 ">Đánh giá nhà xe của 180 hành khách</h5>
              <table class="table table-rating ">
                <tbody>
                  <tr>
                    <td><b>Tổng quan:</b></td>
                    <td>
                      <ul class="list-inline pull-left rate-star " data-value="4,038889 ">
                        <li><i class="glyphicon glyphicon-star text-yellow "></i></li>
                        <li><i class="glyphicon glyphicon-star text-yellow "></i></li>
                        <li><i class="glyphicon glyphicon-star text-yellow "></i></li>
                        <li><i class="glyphicon glyphicon-star text-yellow "></i></li>
                        <li><i class="glyphicon glyphicon-star text-gray "></i></li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <td>Chất lượng xe:</td>
                    <td>
                      <ul class="list-inline pull-left rate-star " data-value="3,927778 ">
                        <li><i class="glyphicon glyphicon-star text-yellow "></i></li>
                        <li><i class="glyphicon glyphicon-star text-yellow "></i></li>
                        <li><i class="glyphicon glyphicon-star text-yellow "></i></li>
                        <li><i class="glyphicon glyphicon-star text-gray "></i></li>
                        <li><i class="glyphicon glyphicon-star text-gray "></i></li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <td>Đúng giờ:</td>
                    <td>
                      <ul class="list-inline pull-left rate-star " data-value="3,805556 ">
                        <li><i class="glyphicon glyphicon-star text-yellow "></i></li>
                        <li><i class="glyphicon glyphicon-star text-yellow "></i></li>
                        <li><i class="glyphicon glyphicon-star text-yellow "></i></li>
                        <li><i class="glyphicon glyphicon-star text-gray "></i></li>
                        <li><i class="glyphicon glyphicon-star text-gray "></i></li>
                      </ul>
                    </td>
                  </tr>
                  <tr>
                    <td>Thái độ phục vụ:</td>
                    <td>
                      <ul class="list-inline pull-left rate-star " data-value="3,755556 ">
                        <li><i class="glyphicon glyphicon-star text-yellow "></i></li>
                        <li><i class="glyphicon glyphicon-star text-yellow "></i></li>
                        <li><i class="glyphicon glyphicon-star text-yellow "></i></li>
                        <li><i class="glyphicon glyphicon-star text-gray "></i></li>
                        <li><i class="glyphicon glyphicon-star text-gray "></i></li>
                      </ul>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="footer-pop clearfix ">
              <img class="logo-sm " src="images/logo-sm.svg " alt=" ">
            </div>
          </div>
        </a>
      </div>
      <div style="margin-top: 45px; ">
        <a class="comment-btn-popup text-route-link hover-blue-text comment-text " href="# " onclick="return false; ">
                    Viết đánh giá
                </a>
      </div>
    </td>
    <td class="text-right pr0 col-md-3 col-xs-3 ">
      <meta content="620.000 ">
      <h6 data-value="620000 " class="mt0 price ">
                            620.000 <small class="unit-price-small ">đ</small>
                        </h6>
           <p>
        <a id="a-12062017-00701700 " data-mobilebutton="mobilebtn- " class="ticket-ac-btn btn-vxr-lg btn pull-right w100 hasSeat closed a- online-button ">Chọn chỗ</a>
       
      </p>
    </td>
    </tr>
   
      <tr class="schedule-ticket result-item product_box col-12 col-md-12 col-xs-12 ">
        <td class="col-2 col-md-2 col-xs-2 pl0 " style="z-index: 1; ">
          <div style="display: none " id="12062017-01500500 "></div>
          <div class="from-time-value " style="display:none " data-value="900 "></div>
          <div class="from-stop-value " style="display:none " data-value="Bến xe Miền Đông "></div>
          <div class="to-stop-value " style="display: none " data-value="Bến xe Nước Ngầm "></div>
          <div class="company-value " style="display:none " data-value="Mai Linh "></div>
          <!--Start Rich Snippets-->
          <div style="display: none " itemprop="event " itemscope=" " itemtype="http://schema.org/Event ">
            <p itemprop="startDate " style="display: none; ">
              12-06-2017
            </p>
            <meta itemprop="name " content="xe Mai Linh ">
            <meta itemprop="description " content="Hồ Chí Minh - Hà Nội ">
            <span itemscope=" " itemprop="location " itemtype="http://schema.org/Place " style="display: none; ">
                <meta itemprop="name " content="15:00 - 05:00 | 715.000₫ ">
                <meta itemprop="address " content="Mai Linh ">
                
            </span>
            <span itemprop="offers " itemscope=" " itemtype="http://schema.org/Offer " style="display: none; ">
                <meta itemprop="priceCurrency " content="VNĐ ">
                <meta itemprop="price " content="715000 ">
            </span>
          </div>
          <!--End Rich Snippets-->
          <p class="route hidden ">Hồ Chí Minh - Hà Nội</p>
          <div class="pull-left ml10 comp-name-container ">
            <div class="hidden-lg hidden-md star-mobile hidden-sm " "=" ">
    <div class="pull-left pull-left-star-mobi ">
      <h6 class="span-from-time-mobi mt0 mb5 " data-busticketstatus="4 " data-workingtime="False " data-istetticket="0 " data-tripid="190340 " data-pickupdate="15:00 12-06-2017 ">
                                15:00
                            </h6>
    </div>
    <div class="pull-left "><i class="pl5 pr5 text-gray3 left-arrow ">→</i></div>
    <div class="pull-left pull-left-mobi ">
      <h6 class="span-to-time-mobi mt0 mb5 text-gray3 " data-busticketstatus="4 " data-workingtime="False " data-istetticket="0 ">
                                05:00
                            </h6>
      <span class="totalHours ">(38h)</span>
    </div>
  </div>
  <h6 class="mt0 mb10 comp-name-title text-gray3 ">Mai Linh</h6>
  <div class="col-lg-12 service-plus-in hidden-xs ">
    <img src="images/wifi.svg ">
    <img src="images/Water.svg ">
    <a class="ml5 benefit-icons hidden-xs hidden-sm text-route-link hover-orange-border hover-blue-text link " data-text="Tiện ích ">
      <img src="images/plus.svg ">
      <div class="pop-vxr w300 benefit-tip " style="display: none; ">
        <div class="head-pop clearfix ">
          <h5 class="mb5 mt5 ">Tiện ích nhà xe</h5>
        </div>
        <div class="body-pop ">
          <div class="benefit-icons ">
            <p class="mt10 icon benefit-blanket ">Chăn đắp</p>
            <p class="mt10 icon benefit-aircon ">Điều hòa</p>
            <p class="mt10 icon benefit-dvd ">DVD</p>
            <p class="mt10 icon benefit-tissue ">Khăn lạnh</p>
            <p class="mt10 icon benefit-drink ">Nước uống</p>
          </div>
        </div>
        <div class="footer-pop clearfix ">
          <img class="logo-sm " src="images/logo-sm.svg " alt=" ">
        </div>
      </div>
    </a>
  </div>
  <ul class="busInfo hidden-sm hidden-xs " style="margin-left:-50px !important; ">
    <li>
      <a class="ml5 ticket-detail-tab-link text-route-link hover-orange-border hover-blue-text hidden-xs hidden-sm " href="# " data-tab="hinhanh " data-text="Hình ảnh ">
                            
                            Hình ảnh
                        </a>
    </li>
    <li style="width:100px "><a id="transfer-765-15-00 " href="# " data-tab="trungchuyen " class="ml5 ticket-detail-tab-link text-route-link hover-orange-border hover-blue-text hidden hidden-xs hidden-sm " data-text="Trung chuyển ">Trung chuyển</a></li>
  </ul>
  <p class="text-gray vehicle-type-p mb3 hidden-lg hidden-md " data-value="40 ">
    Bến xe Miền Đông → Bến xe Nước Ngầm
  </p>
  <p class="text-gray vehicle-type-p mb3 hidden-lg hidden-md " style="margin-top:15px; " data-value="40 ">
    Giường nằm 40 chỗ
  </p>
  </div>
  </td>
  <td class=" col-4 col-md-4 col-xs-4 hidden-xs detail-route ">
    <div class="col-12 ml10 " style="text-align:center; ">
      <div class="col-5 col-md-5 ">
        <h6 class="span-from-time mt0 mb5 " data-busticketstatus="4 " data-workingtime="False " data-istetticket="0 " data-tripid="190340 " data-pickupdate="15:00 12-06-2017 ">
                            15:00
                        </h6>
      </div>
      <div class="col-2 col-md-2 "><i class="pl5 pr5 text-gray3 left-arrow " style="display: inline-block;margin-top:-12px; ">→<br>38h</i></div>
      <div class="col-5 col-md-5 ">
        <h6 class="span-to-time mt0 mb5 " data-busticketstatus="4 " data-workingtime="False " data-istetticket="0 ">
                            05:00
                        </h6>
      </div>
      <div class="clearfix "></div>
      <div class="col-5 col-md-5 hidden-xs hidden-sm mt25 ">
        <ul class="busInfo ">
          <li>
            <a class="mt0 depart-station ticket-detail-tab-link text-route-link hover-orange-border hover-blue-text " data-appended="0 " data-trip-id="190340 " data-time="15:00 " data-id="765 " data-value="Bến xe Miền Đông " href="# " onclick="return false; " data-tab="banggia " data-text="Bến xe... ">
                            Bến xe Miền Đông
                            
                            <div class="pop-vxr w300 depart-station-tip " style="display: none; ">
                                <div class="head-pop clearfix ">
                                    <h5 class="mb5 mt5 ">ĐIỂM ĐI / ĐÓN DỌC ĐƯỜNG</h5>
                                </div>
                                <div class="body-pop ">
                                    <h5 class="mt0 mb5 " style="width: 100%; ">

                                        Bến xe Miền Đông (Xuất phát) <span style="float: right; ">15:00</span>
                                    </h5>

                                    <div class="div-pickup-info-765-15-00 ">
                                        <p class="mt10 ">Địa chỉ: <span class="span-from-address ">292 Đinh Bộ Lĩnh, Phường 26 - Bình Thạnh - Hồ Chí Minh</span></p>
                                        <br>
                                    </div>
                                </div>
                                <div class="footer-pop clearfix ">
                                    <img class="logo-sm " src="images/logo-sm.svg " alt=" ">
                                </div>
                            </div>
                        </a>
          </li>
        </ul>
      </div>
      <div class="col-2 col-md-2 hidden-xs hidden-sm mt25 total-time-text " style="color:#1867bc !important "></div>
      <div class="col-5 col-md-5 hidden-xs hidden-sm mt25 ">
        <ul class="busInfo ">
          <li>
            <a class="mt0 destination-station ticket-detail-tab-link text-route-link hover-orange-border hover-blue-text " data-appended="0 " data-trip-id="190340 " data-time="15:00 " data-id="803 " data-value="Bến xe Nước Ngầm " href="# " onclick="return false; " data-tab="banggia " data-text=" Bến xe... ">
                            Bến xe Nước Ngầm 
                            <div class="pop-vxr w300 destination-station-tip " style="display: none; ">
                                <div class="head-pop clearfix ">
                                    <h5 class="mb5 mt5 ">ĐIẾM ĐẾN / TRẢ DỌC ĐƯỜNG</h5>
                                </div>
                                <div class="body-pop ">
                                    <h5 class="mt0 mb5 " style="width: 100%; ">

                                        Bến xe Nước Ngầm (Điểm đến) <span style="float: right; ">5:00</span>
                                    </h5>
                                    <div class="div-pickup-info-803-15-00 ">
                                        <p class="mt10 ">Địa chỉ: Km số 8, đường Giải Phóng, phường Hoàng Liệt - Hoàng Mai - Hà Nội</p>
                                    </div>
                                </div>
                                <div class="footer-pop clearfix ">
                                    <img class="logo-sm " src="images/logo-sm.svg " alt=" ">
                                </div>
                            </div>
                        </a>
          </li>
        </ul>
      </div>
      <p class="text-gray visible-xs vehicle-type-title ">
        Giường nằm 40 chỗ
      </p>
      <ul class="busInfo hidden-sm hidden-xs lichtrinh ">
        <li>
          <a class="ml5 ticket-detail-tab-link text-route-link hover-orange-border hover-blue-text hidden-xs hidden-sm " data-tab="banggia " href="# " data-text="Lịch trình ">
                            
                            Lịch trình
                        </a>
        </li>
      </ul>
    </div>
  </td>
  <td class="pl0 hidden-xs col-2 col-md-2 col-xs-2 ">
    <p class="vehicle-type-p mb3 text-center text-gray3 " data-value="40 ">
      Giường nằm 40 chỗ
    </p>
    <p class="hidden-xs service-call seats-text text-center " style="display: none; ">
      &nbsp;
    </p>
    <p class="text-center chinh-sach-huy ">
      <a class="ml5 ticket-detail-tab-link text-route-link hover-orange-border hover-blue-text link-chinh-sach-huy hidden-xs hidden-sm " data-tab="chinhsachhuyve " href="# " data-text="Chính sách hủy vé " style="margin-left:0 !important;margin-top:0px !important ">
                Chính sách hủy vé
            </a>
    </p>
  </td>
  <td class="text-left hidden-xs hidden-sm col-md-2 col-xs-2 text-center " style="text-align:center !important ">
    <span class="count-star " style="display:none ">3,735849</span>
    <ul class="list-inline pull-left rate-star " data-value="3,735849 ">
      <li><i class="glyphicon glyphicon-star text-yellow "></i></li>
      <li><i class="glyphicon glyphicon-star text-yellow "></i></li>
      <li><i class="glyphicon glyphicon-star text-yellow "></i></li>
      <li><i class="glyphicon glyphicon-star text-gray "></i></li>
      <li><i class="glyphicon glyphicon-star text-gray "></i></li>
    </ul>
    <div style="margin-top: 46px; ">
      <span class="totalComments " style="display:none ">159</span>
      <a class="rating-link ticket-detail-tab-link text-route-link hover-blue-text hover-orange-border " href="/vi-VN/xe-mai-linh " data-tab="danhgia ">
        <span class="BusQualityRating blue ">3,8/5</span> 159 <span></span> đánh giá <i class="fa fa-sort-desc vt "></i>
        <div class="pop-vxr w300 bus-rating-tip " style="display: none; ">
          <div class="head-pop clearfix ">
            <h5 class="mb5 mt5 ">ĐÁNH GIÁ NHÀ XE</h5>
          </div>
          <div class="body-pop ">
            <h5 class="mt0 mb5 ">Đánh giá nhà xe của 159 hành khách</h5>
            <table class="table table-rating ">
              <tbody>
                <tr>
                  <td><b>Tổng quan:</b></td>
                  <td>
                    <ul class="list-inline pull-left rate-star " data-value="3,735849 ">
                      <li><i class="glyphicon glyphicon-star text-yellow "></i></li>
                      <li><i class="glyphicon glyphicon-star text-yellow "></i></li>
                      <li><i class="glyphicon glyphicon-star text-yellow "></i></li>
                      <li><i class="glyphicon glyphicon-star text-gray "></i></li>
                      <li><i class="glyphicon glyphicon-star text-gray "></i></li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>Chất lượng xe:</td>
                  <td>
                    <ul class="list-inline pull-left rate-star " data-value="3,811321 ">
                      <li><i class="glyphicon glyphicon-star text-yellow "></i></li>
                      <li><i class="glyphicon glyphicon-star text-yellow "></i></li>
                      <li><i class="glyphicon glyphicon-star text-yellow "></i></li>
                      <li><i class="glyphicon glyphicon-star text-gray "></i></li>
                      <li><i class="glyphicon glyphicon-star text-gray "></i></li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>Đúng giờ:</td>
                  <td>
                    <ul class="list-inline pull-left rate-star " data-value="3,54717 ">
                      <li><i class="glyphicon glyphicon-star text-yellow "></i></li>
                      <li><i class="glyphicon glyphicon-star text-yellow "></i></li>
                      <li><i class="glyphicon glyphicon-star text-yellow "></i></li>
                      <li><i class="glyphicon glyphicon-star text-gray "></i></li>
                      <li><i class="glyphicon glyphicon-star text-gray "></i></li>
                    </ul>
                  </td>
                </tr>
                <tr>
                  <td>Thái độ phục vụ:</td>
                  <td>
                    <ul class="list-inline pull-left rate-star " data-value="3,685534 ">
                      <li><i class="glyphicon glyphicon-star text-yellow "></i></li>
                      <li><i class="glyphicon glyphicon-star text-yellow "></i></li>
                      <li><i class="glyphicon glyphicon-star text-yellow "></i></li>
                      <li><i class="glyphicon glyphicon-star text-gray "></i></li>
                      <li><i class="glyphicon glyphicon-star text-gray "></i></li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="footer-pop clearfix ">
            <img class="logo-sm " src="images/logo-sm.svg " alt=" ">
          </div>
        </div>
      </a>
    </div>
    <div style="margin-top: 45px; ">
      <a class="comment-btn-popup text-route-link hover-blue-text comment-text " href="# " onclick="return false; ">
                    Viết đánh giá
                </a>
    </div>
  </td>
  <td class="text-right pr0 col-md-3 col-xs-3 " style="padding-left:0; ">
    <meta content="715.000 ">
    <h6 data-value="715000 " class="mt0 price ">
                            715.000 <small style="vertical-align: top; " class="unit-price-small ">đ</small>
                        </h6>
    <p class="visible-xs service-call no-seats-text " style="display: none; ">
      <span>&nbsp;</span>
    </p>
    <p class="text-red hidden-xs hidden-sm no-note-price ">
      &nbsp;
    </p>
    <div class="hidden-lg hidden-md star-mobile Rating-mobile-star " style="margin-top:10px; ">
      <span class="BusQualityRating blue ">3,8/5</span> <span class="text-gray link-gray link-rating ">
                        159 <span></span> đánh giá
      </span>
    </div>
    <p style="margin:0; ">
      <a id="a-12062017-01500500 " class="ticket-ac-btn btn-vxr-lg btn pull-right w100 noSeat closed nonmobile " href="# " title="Nhấp để đặt vé ">Đặt vé</a>
      <a style="display: none; " title="Nhấp để đóng lại " href="javascript:;" class="ticket-ac-btn btn btn-lg btn-vxr-gray-lg w100 open ">Đóng lại</a>
    </p>
  </td>
  </tr>
  
  <tr class="schedule-ticket result-item product_box col-12 col-md-12 col-xs-12 ">
    <td class="col-2 col-md-2 col-xs-2 pl0 " style="z-index: 1; ">
      <div style="display: none " id="12062017-010301630 "></div>
      <div class="from-time-value " style="display:none " data-value="630 "></div>
      <div class="from-stop-value " style="display:none " data-value="Bến xe Miền Đông "></div>
      <div class="to-stop-value " style="display: none " data-value="Bến xe Giáp Bát "></div>
      <div class="company-value " style="display:none " data-value="A Ba "></div>
      <!--Start Rich Snippets-->
      <div style="display: none " itemprop="event " itemscope=" " itemtype="http://schema.org/Event ">
        <p itemprop="startDate " style="display: none; ">
          12-06-2017
        </p>
        <meta itemprop="name " content="xe A Ba ">
        <meta itemprop="description " content="Sài Gòn - Hà Nội ">
        <span itemscope=" " itemprop="location " itemtype="http://schema.org/Place " style="display: none; ">
                <meta itemprop="name " content="10:30 - 16:30 | 950.000₫ ">
                <meta itemprop="address " content="A Ba ">
                
            </span>
        <span itemprop="offers " itemscope=" " itemtype="http://schema.org/Offer " style="display: none; ">
                <meta itemprop="priceCurrency " content="VNĐ ">
                <meta itemprop="price " content="950000 ">
            </span>
      </div>
      <!--End Rich Snippets-->
      <p class="route hidden ">Sài Gòn - Hà Nội</p>
      <div class="pull-left ml10 comp-name-container ">
        <div class="hidden-lg hidden-md star-mobile hidden-sm " "=" ">
              <div class="pull-left pull-left-star-mobi ">
                <select class="start-time-drop w90f fl-l mt0 " name="FromTimes " id="FromTimes ">
                  <option value="10:30 " trackindex="12062017-010301630 " data-anum="0 " data-busticketstatus="0 " data-istetticket="0 " data-workingtime="False " data-tripid="183157 " data-fare="950000 " data-pickupdate="10:30 12-06-2017 ">
                    10:30
                  </option>
                  <option value="14:00 " trackindex="12062017-010301630 " data-anum="0 " data-busticketstatus="0 " data-istetticket="0 " data-workingtime="False " data-tripid="183157 " data-fare="950000 " data-pickupdate="14:00 12-06-2017 ">
                    14:00
                  </option>
                  <option value="20:00 " trackindex="12062017-010301630 " data-anum="0 " data-busticketstatus="0 " data-istetticket="0 " data-workingtime="False " data-tripid="183157 " data-fare="950000 " data-pickupdate="20:00 12-06-2017 ">
                    20:00
                  </option>
                </select>
              </div>
              <div class="pull-left "><i class="pl5 pr5 text-gray3 left-arrow ">→</i></div>
              <div class="pull-left pull-left-mobi ">
                <select class="stop-time-drop w90f fl-l mt0 text-gray " name="ToTimes " id="ToTimes ">
                  <option value="16:30 " trackindex="12062017-010301630 " data-anum="0 " data-busticketstatus="0 " data-istetticket="0 " data-workingtime="False ">
                    16:30
                  </option>
                  <option value="20:00 " trackindex="12062017-010301630 " data-anum="0 " data-busticketstatus="0 " data-istetticket="0 " data-workingtime="False ">
                    20:00
                  </option>
                  <option value="02:00 " trackindex="12062017-010301630 " data-anum="0 " data-busticketstatus="0 " data-istetticket="0 " data-workingtime="False ">
                    02:00
                  </option>
                </select>
                <span class="totalHours ">(30h)</span>
              </div>
            </div>
            <h6 class="mt0 mb10 comp-name-title text-gray3 ">A Ba</h6>
            <div class="col-lg-12 service-plus-in hidden-xs ">
              <img src="images/wifi.svg ">
              <img src="images/Water.svg ">
              <a class="ml5 benefit-icons hidden-xs hidden-sm text-route-link hover-orange-border hover-blue-text link " data-text="Tiện ích ">
                <img src="images/plus.svg ">
                <div class="pop-vxr w300 benefit-tip " style="display: none; ">
                  <div class="head-pop clearfix ">
                    <h5 class="mb5 mt5 ">Tiện ích nhà xe</h5>
                  </div>
                  <div class="body-pop ">
                    <div class="benefit-icons ">
                      <p class="mt10 icon benefit-blanket ">Chăn đắp</p>
                      <p class="mt10 icon benefit-aircon ">Điều hòa</p>
                      <p class="mt10 icon benefit-dvd ">DVD</p>
                      <p class="mt10 icon benefit-tissue ">Khăn lạnh</p>
                      <p class="mt10 icon benefit-drink ">Nước uống</p>
                    </div>
                  </div>
                  <div class="footer-pop clearfix ">
                    <img class="logo-sm " src="images/logo-sm.svg " alt=" ">
                  </div>
                </div>
              </a>
            </div>
            <ul class="busInfo hidden-sm hidden-xs " style="margin-left:-50px !important; ">
              <li>
                <a class="ml5 ticket-detail-tab-link text-route-link hover-orange-border hover-blue-text hidden-xs hidden-sm " href="# " data-tab="hinhanh " data-text="Hình ảnh ">
                            
                            Hình ảnh
                        </a>
              </li>
              <li style="width:100px "><a id="transfer-765-10-30 " href="# " data-tab="trungchuyen " class="ml5 ticket-detail-tab-link text-route-link hover-orange-border hover-blue-text hidden hidden-xs hidden-sm " data-text="Trung chuyển ">Trung chuyển</a></li>
            </ul>
            <p class="text-gray vehicle-type-p mb3 hidden-lg hidden-md " data-value="40 ">
              Bến xe Miền Đông → Bến xe Giáp Bát
            </p>
            <p class="text-gray vehicle-type-p mb3 hidden-lg hidden-md " style="margin-top:15px; " data-value="40 ">
              Giường nằm 40 chỗ
            </p>
          </div>
        </td>
        <td class=" col-4 col-md-4 col-xs-4 hidden-xs detail-route ">
          <div class="col-12 ml10 " style="text-align:center; ">
            <div class="col-5 col-md-5 ">
              <select class="start-time-drop w90f fl-l mt0 " name="FromTimes " id="FromTimes ">
                <option value="10:30 " trackindex="12062017-010301630 " data-anum="0 " data-busticketstatus="0 " data-istetticket="0 " data-workingtime="False " data-tripid="183157 " data-fare="950000 " data-pickupdate="10:30 12-06-2017 ">
                  10:30
                </option>
                <option value="14:00 " trackindex="12062017-010301630 " data-anum="0 " data-busticketstatus="0 " data-istetticket="0 " data-workingtime="False " data-tripid="183157 " data-fare="950000 " data-pickupdate="14:00 12-06-2017 ">
                  14:00
                </option>
                <option value="20:00 " trackindex="12062017-010301630 " data-anum="0 " data-busticketstatus="0 " data-istetticket="0 " data-workingtime="False " data-tripid="183157 " data-fare="950000 " data-pickupdate="20:00 12-06-2017 ">
                  20:00
                </option>
              </select>
            </div>
            <div class="col-2 col-md-2 "><i class="pl5 pr5 text-gray3 left-arrow " style="display: inline-block;margin-top:-12px; ">→<br>30h</i></div>
            <div class="col-5 col-md-5 ">
              <select class="stop-time-drop w90f fl-l mt0 text-gray " name="ToTimes " id="ToTimes ">
                <option value="16:30 " trackindex="12062017-010301630 " data-anum="0 " data-busticketstatus="0 " data-istetticket="0 " data-workingtime="False ">
                  16:30
                </option>
                <option value="20:00 " trackindex="12062017-010301630 " data-anum="0 " data-busticketstatus="0 " data-istetticket="0 " data-workingtime="False ">
                  20:00
                </option>
                <option value="02:00 " trackindex="12062017-010301630 " data-anum="0 " data-busticketstatus="0 " data-istetticket="0 " data-workingtime="False ">
                  02:00
                </option>
              </select>
            </div>
            <div class="clearfix "></div>
            <div class="col-5 col-md-5 hidden-xs hidden-sm mt25 ">
              <ul class="busInfo ">
                <li>
                  <a class="mt0 depart-station ticket-detail-tab-link text-route-link hover-orange-border hover-blue-text " data-value="Bến xe Miền Đông " href="# " onclick="return false; " data-tab="banggia " data-text="Bến xe... ">
                            Bến xe Miền Đông
                            
                            <div class="pop-vxr w300 depart-station-tip " style="display: none; ">
                                <div class="head-pop clearfix ">
                                    <h5 class="mb5 mt5 ">ĐIỂM ĐI / ĐÓN DỌC ĐƯỜNG</h5>
                                </div>
                                <div class="body-pop ">
                                    <h5 class="mt0 mb5 " style="width: 100%; ">

                                        Bến xe Miền Đông (Xuất phát) <span style="float: right; ">10:30</span>
                                    </h5>

                                    <div class="div-pickup-info-765-10-30 ">
                                        <p class="mt10 ">Địa chỉ: <span class="span-from-address ">292 Đinh Bộ Lĩnh, Phường 26 - Bình Thạnh - Hồ Chí Minh</span></p>
                                        <br>
                                    </div>
                                </div>
                                <div class="footer-pop clearfix ">
                                    <img class="logo-sm " src="images/logo-sm.svg " alt=" ">
                                </div>
                            </div>
                        </a>
                </li>
              </ul>
            </div>
            <div class="col-2 col-md-2 hidden-xs hidden-sm mt25 total-time-text " style="color:#1867bc !important "></div>
            <div class="col-5 col-md-5 hidden-xs hidden-sm mt25 ">
              <ul class="busInfo ">
                <li>
                  <a class="mt0 destination-station ticket-detail-tab-link text-route-link hover-orange-border hover-blue-text " data-value="Bến xe Giáp Bát " href="# " onclick="return false; " data-tab="banggia " data-text=" Bến xe... ">
                            Bến xe Giáp Bát 
                            <div class="pop-vxr w300 destination-station-tip " style="display: none; ">
                                <div class="head-pop clearfix ">
                                    <h5 class="mb5 mt5 ">ĐIẾM ĐẾN / TRẢ DỌC ĐƯỜNG</h5>
                                </div>
                                <div class="body-pop ">
                                    <h5 class="mt0 mb5 " style="width: 100%; ">

                                        Bến xe Giáp Bát (Điểm đến) <span style="float: right; ">16:30</span>
                                    </h5>
                                    <div class="div-pickup-info-785-10-30 ">
                                        <p class="mt10 ">Địa chỉ: Km6 đường Giải phóng - Hoàng Mai - Hà Nội</p>
                                    </div>
                                </div>
                                <div class="footer-pop clearfix ">
                                    <img class="logo-sm " src="images/logo-sm.svg " alt=" ">
                                </div>
                            </div>
                        </a>
                </li>
              </ul>
            </div>
            <p class="text-gray visible-xs vehicle-type-title ">
              Giường nằm 40 chỗ
            </p>
            <ul class="busInfo hidden-sm hidden-xs lichtrinh ">
              <li>
                <a class="ml5 ticket-detail-tab-link text-route-link hover-orange-border hover-blue-text hidden-xs hidden-sm " data-tab="banggia " href="# " data-text="Lịch trình ">
                            
                            Lịch trình
                        </a>
              </li>
            </ul>
          </div>
        </td>
        <td class="pl0 hidden-xs col-2 col-md-2 col-xs-2 ">
          <p class="vehicle-type-p mb3 text-center text-gray3 " data-value="40 ">
            Giường nằm 40 chỗ
          </p>
          <p class="hidden-xs service-call seats-text text-center " style="display: none; ">
            &nbsp;
          </p>
          <p class="text-center chinh-sach-huy ">
            <a class="ml5 ticket-detail-tab-link text-route-link hover-orange-border hover-blue-text link-chinh-sach-huy hidden-xs hidden-sm " data-tab="chinhsachhuyve " href="# " data-text="Chính sách hủy vé " style="margin-left:0 !important;margin-top:0px !important ">
                Chính sách hủy vé
            </a>
          </p>
        </td>
        <td class="text-left hidden-xs hidden-sm col-md-2 col-xs-2 text-center " style="text-align:center !important ">
          <span class="count-star " style="display:none ">2</span>
          <ul class="list-inline pull-left rate-star " data-value="2 ">
            <li><i class="glyphicon glyphicon-star text-yellow "></i></li>
            <li><i class="glyphicon glyphicon-star text-yellow "></i></li>
            <li><i class="glyphicon glyphicon-star text-gray "></i></li>
            <li><i class="glyphicon glyphicon-star text-gray "></i></li>
            <li><i class="glyphicon glyphicon-star text-gray "></i></li>
          </ul>
          <div style="margin-top: 46px; ">
            <span class="totalComments " style="display:none ">3</span>
            <a class="rating-link ticket-detail-tab-link text-route-link hover-blue-text hover-orange-border " href="/vi-VN/xe-a-ba " data-tab="danhgia ">
              <span class="BusQualityRating blue ">3/5</span> 3 <span></span> đánh giá <i class="fa fa-sort-desc vt "></i>
              <div class="pop-vxr w300 bus-rating-tip " style="display: none; ">
                <div class="head-pop clearfix ">
                  <h5 class="mb5 mt5 ">ĐÁNH GIÁ NHÀ XE</h5>
                </div>
                <div class="body-pop ">
                  <h5 class="mt0 mb5 ">Đánh giá nhà xe của 3 hành khách</h5>
                  <table class="table table-rating ">
                    <tbody>
                      <tr>
                        <td><b>Tổng quan:</b></td>
                        <td>
                          <ul class="list-inline pull-left rate-star " data-value="2 ">
                            <li><i class="glyphicon glyphicon-star text-yellow "></i></li>
                            <li><i class="glyphicon glyphicon-star text-yellow "></i></li>
                            <li><i class="glyphicon glyphicon-star text-gray "></i></li>
                            <li><i class="glyphicon glyphicon-star text-gray "></i></li>
                            <li><i class="glyphicon glyphicon-star text-gray "></i></li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>Chất lượng xe:</td>
                        <td>
                          <ul class="list-inline pull-left rate-star " data-value="3 ">
                            <li><i class="glyphicon glyphicon-star text-yellow "></i></li>
                            <li><i class="glyphicon glyphicon-star text-yellow "></i></li>
                            <li><i class="glyphicon glyphicon-star text-yellow "></i></li>
                            <li><i class="glyphicon glyphicon-star text-gray "></i></li>
                            <li><i class="glyphicon glyphicon-star text-gray "></i></li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>Đúng giờ:</td>
                        <td>
                          <ul class="list-inline pull-left rate-star " data-value="2 ">
                            <li><i class="glyphicon glyphicon-star text-yellow "></i></li>
                            <li><i class="glyphicon glyphicon-star text-yellow "></i></li>
                            <li><i class="glyphicon glyphicon-star text-gray "></i></li>
                            <li><i class="glyphicon glyphicon-star text-gray "></i></li>
                            <li><i class="glyphicon glyphicon-star text-gray "></i></li>
                          </ul>
                        </td>
                      </tr>
                      <tr>
                        <td>Thái độ phục vụ:</td>
                        <td>
                          <ul class="list-inline pull-left rate-star " data-value="1 ">
                            <li><i class="glyphicon glyphicon-star text-yellow "></i></li>
                            <li><i class="glyphicon glyphicon-star text-gray "></i></li>
                            <li><i class="glyphicon glyphicon-star text-gray "></i></li>
                            <li><i class="glyphicon glyphicon-star text-gray "></i></li>
                            <li><i class="glyphicon glyphicon-star text-gray "></i></li>
                          </ul>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
                <div class="footer-pop clearfix ">
                  <img class="logo-sm " src="images/logo-sm.svg " alt=" ">
                </div>
              </div>
            </a>
          </div>
          <div style="margin-top: 45px; ">
            <a class="comment-btn-popup text-route-link hover-blue-text comment-text " href="# " onclick="return false; ">
                    Viết đánh giá
                </a>
          </div>
        </td>
        <td class="text-right pr0 col-md-3 col-xs-3 " style="padding-left:0; ">
          <meta content="950.000 ">
          <h6 data-value="950000 " class="mt0 price ">
                    950.000 <small style="vertical-align: top; " class="unit-price-small ">đ</small>
                </h6>
          <p class="visible-xs service-call no-seats-text " style="display: none; ">
            <span>&nbsp;</span>
          </p>
          <p class="text-red hidden-xs hidden-sm no-note-price ">
            &nbsp;
          </p>
          <div class="hidden-lg hidden-md star-mobile Rating-mobile-star " style="margin-top:10px; ">
            <span class="BusQualityRating blue ">3/5</span> <span class="text-gray link-gray link-rating ">
                        3 <span></span> đánh giá
            </span>
          </div>
          <p style="margin:0; ">
            <a id="a-12062017-010301630 " class="ticket-ac-btn btn-vxr-lg btn pull-right w100 noSeat closed normal-button " href="#12062017-010301630 " title="Nhấp vào đây để xem số điện thoại đặt vé " onclick="ga( 'send', 'event', 'Điện thoại', 'click', 'Điện thoại tại Tuyến đường Sài Gòn đi Hà Nội nhà xe A Ba') ">Điện thoại</a>
            <a style="display: none; " title="Nhấp để đóng lại " href="javascript:;" class="ticket-ac-btn btn btn-lg btn-vxr-gray-lg w100 open normal-button ">Đóng lại</a>
          </p>
        </td>
      </tr>
      
      
      
      
      
     
      </tbody>
      </table>
      </div>
      </div>
      
      
  </div>
  </section>