<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title> Kiểm tra vé </title>
    <!-- Bootstrap -->
   <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="css/font.css" />
  <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="css/styles.css" />
  <link rel="stylesheet" type="text/css" href="css/responsive.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-default header-blue">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12">
          <a href="#"><img src="images/logo.svg" class="img-responsive logo" style="display: inline-block;">

          </a><button type="button" class="navbar-toggle push-right" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="true">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="col-md-9 col-sm-12 col-xs-12">

          <div class="navbar-collapse collapse in" id="bs-example-navbar-collapse-1" aria-expanded="true">
            <div class=" menu-top ">
              <ul class="nav navbar-nav ul-menu">
                <li><a href="#" class="home">Trang chủ </a></li>
                <li><a href="#" class="home">Kiểm tra vé </a></li>
                <li><a href="#" class="home">Hủy vé </a></li>
                <li><a href="#" class="home">Phần mềm quản lý xe khách VBMS </a></li>
                <li><a href="#" class="home">VN <img src="images/vietnam_icon.png" class="icon1"></a></li>
                <li><a href="#" class="home">EN <img src="images/english_icon.png" class="icon1"></a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!--row-->
    </div>
    <!-- /.container -->
  </nav>
    <div class="container check-ticket">
        <div class="row">
            <div class="col-md-3 col-sm-12 col-xs-12 fill-info-ticket">
                <h4 class="text-check-ticket text-center bold">Nhập thông tin vé</h4>
                <form method="POST" action="" >
                <div class="form-group">
                    <input type="text" id="userTicketCode" name="code" value="" required="" class="form-control" placeholder="Mã vé">
                </div>
                <div class="form-group">
                    <input type="tel" id="userPhoneNumber" name="phone_number" value="" class="form-control" placeholder="SĐT">
                </div>
                    <div class="form-group ">
                        <div class="g-recaptcha" data-type="image"><iframe src="https://www.google.com/recaptcha/api2/anchor?k=6LeMgQYTAAAAACLZ7XQqo7RO2P_pIHE1OsjDi-ts&amp;co=aHR0cHM6Ly92ZXhlcmUuY29tOjQ0Mw..&amp;hl=vi&amp;type=image&amp;v=r20170531093331&amp;size=normal&amp;cb=ew7himjsh5wg" title="tiện ích con mã xác thực lại" width="304" height="78" frameborder="0" scrolling="no" name="undefined"></iframe>
                        </div>

                    </div>

                <button type="submit" class="btn btn-primary btn-check-ticket">Kiểm tra vé</button>
            </form>
            </div> <!--End#fill-info-ticket-->
            <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="fill-ticket-success" >
                    Vui lòng nhập thông tin và bấm kiểm tra vé
                </div>
            </div>

            </div>
        </div> <!--End#row-->
    </div> <!--End#check-ticket-->


     <div id="backLinkDiv" class="back-links odd-row clearfix hidden-xs hidden-sm">
    <div class="container">
      <div class="clearfix row">
        <div class="col-md-8 col-lg-8 pr0">
          <h3>Hãng xe khách</h3>
        </div>
        <div class="col-md-4 col-lg-4 pr0">
          <h3>Bến xe khách</h3>
        </div>
      </div>
      <!--Dang sua-->
      <div class="clearfix row">
        <div class="col-lg-2  col-md-2 pr0">
          <ul id="transporters">
            <!-- Có liên kết bán vé -->
            <li><a href="#">Xe Hiếu Hoa </a></li>
            <li><a href="#">Xe Hoàng Khải </a></li>
            <li><a href="#">Xe Hoàng Long </a></li>
            <li><a href="#">Xe Hoàng Nhân </a></li>
            <li><a href="#">Xe Hưng Long </a></li>
            <li><a href="#">Xe Huỳnh Gia </a></li>
            <li><a href="#">Xe Hòa Thuận Anh </a></li>
            <li><a href="#">Xe Camel Travel </a></li>
          </ul>
        </div>
        <div class="col-lg-2  col-md-2 pr0">
          <ul>
            <li><a href="#">Xe Sao Việt </a></li>
            <li><a href="#">Xe Sapa Express </a></li>
            <li><a href="#">Xe Thành Công </a></li>
            <li><a href="#">Xe Phúc Xuyên </a></li>
            <li><a href="#">Xe Phúc Thuận Thảo </a></li>
            <li><a href="#">Xe Thuận Tiến </a></li>
            <li><a href="#">Xe Năm Rùm </a></li>
            <li><a href="#">Xe Phương Heng </a></li>
          </ul>
        </div>
        <div class="col-lg-2  col-md-2 pr0">
          <ul>
            <li><a href="#">Xe Mai Linh </a></li>
            <li><a href="#">Xe Liên Hưng </a></li>
            <li><a href="#">Xe Phương Trang </a></li>
            <li><a href="#">Xe Xe Nhà </a></li>
            <li><a href="#">Xe Kumho Samco </a></li>
            <li><a href="#">Xe Kim Hoàng </a></li>
            <li><a href="#">Xe Quê Hương Phan Rang </a></li>
            <li><a href="#">Xe Hoàng Anh - Phan Rang </a></li>
          </ul>
        </div>
        <div class="col-lg-2  col-md-2 pr0">
          <ul>
            <li><a href="#">Xe Tiến Oanh </a></li>
            <li><a href="#">Xe Tuyết Hon </a></li>
            <li><a href="#">Xe Hà Linh </a></li>
            <li><a href="#">Xe Inter Bus Lines </a></li>
            <li><a href="#">Xe Hoa Mai </a></li>
            <li><a href="#">Xe Thành Bưởi </a></li>
            <li><a href="#">Xe Pumpkin Limousine </a></li>
            <li><a href="#">Xe Mekong Express </a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-2  pr0">
          <ul>
            <li><a href="#">Bến xe Miền Đông </a></li>
            <li><a href="#">Bến xe Miền Tây </a></li>
            <li><a href="#">Bến xe An Sương </a></li>
            <li><a href="#">Bến xe Mỹ Đình </a></li>
            <li><a href="#">Bến xe Nước Ngầm </a></li>
            <li><a href="#">Bến xe Tam Bạc </a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-2  pr0">
          <ul>
            <li><a href="#">Bến xe Giáp Bát </a></li>
            <li><a href="#">Bến xe Lương Yên </a></li>
            <li><a href="#">Bến xe 91B Cần Thơ </a></li>
            <li><a href="#">Bến xe TT Đà Nẵng </a></li>
            <li><a href="#">Bến xe Đà Nẵng </a></li>
            <li><a href="#">Bến xe Cầu Rào </a></li>
            <li><a href="#">Bến xe Niệm Nghĩa </a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="footer-1">
        <div class="clearfix row">
          <div class="col-md-12 col-lg-12 pr0">
            <h3>Đặt mua vé xe các tuyến đường phổ biến</h3>
          </div>
        </div>
        <div class="clearfix row">
          <div class="col-md-4 col-lg-4 pr0">
            <ul>
              <li><a href="#">Vé xe Sài Gòn - Mũi Né</a></li>
              <li><a href="#">Vé Hà Nội - Tam Cốc Bích Động</a></li>
            </ul>
          </div>
          <div class="col-md-4 col-lg-4 pr0">
            <ul>
              <li><a href="#">Vé xe Hà Nội - Tràng An Bái Đính</a></li>
              <li><a href="#">Vé Hà Nội - Phong Nha Quảng Bình</a></li>
            </ul>
          </div>
          <div class="col-md-4 col-lg-4 pr0">
            <ul>
              <li><a href="#">Vé xe Hà Nội - Cát Bà Hải Phòng</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
    <div class="container">
      <div class="row contentfooter">
        <div class="col-md-3 col-sm-6 col-xs-6">
          <h4>Về chúng tôi</h4>
          <ul class="footer-links">
            <li><a href="/vi-VN/tin-tuc">Tin tức</a></li>
            <li><a rel="nofollow" href="/vi-VN/gioi-thieu.html">Xe khách</a></li>
            <li><a rel="nofollow" href="/vi-VN/lien-he.html">Liên hệ</a></li>
            <li><a href="/vexetet">Vé Xe Tết 2018</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
          <h4>Hỗ trợ</h4>
          <ul class="footer-links">
            <li><a rel="nofollow" href="/vi-VN/huong-dan-thanh-toan-tren-website.html">Hướng dẫn thanh toán</a></li>
            <li><a rel="nofollow" href="/vi-VN/quy-che.html">Quy chế VeXeRe.com</a></li>
            <li><a rel="nofollow" href="/vi-VN/nhung-cau-hoi-thuong-gap.html">Những câu hỏi thường gặp</a></li>
            <li><a href="/vi-vn/phan-mem-quan-ly-ban-ve-xe-khach-vexere.html">Phần mềm quản lý bán vé xe khách VBMS</a></li>
            <li><a href="/">Đặt vé xe khách trực tuyến</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
          <h4>Kết nối</h4>
          <div class="social col-08 clearfix">
            <a class="social-icon fb" rel="nofollow" title="Facebook" href="https://www.facebook.com/Vexere" target="_blank">Facebook</a>
            <a class="social-icon yt" rel="nofollow" title="Youtube" href="http://www.youtube.com/channel/UCyUfbHAH0X_CXF4n2Zg2WSA" target="_blank">Youtube</a>
            <a class="social-icon google-plus" rel="nofollow" title="Google+" href="https://plus.google.com/b/114193555551619053500/+VexereVN/posts?gmbpt=true&amp;hl=en" target="_blank">Google+</a>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
          <h4>Đối tác</h4>
          <ul class="ul-user">
            <li><a target="_blank" href="http://csip.vn/" rel="nofollow"><img src="images/logo-csip.png" "=""></a></li>
            <li> <a target="_blank" href="http://bssc.vn/" rel="nofollow"><img src="images/logo-bssc.png" "=""></a></li>
            <li> <a target="_blank" href="http://shtpic.org/" rel="nofollow"><img src="images/logo-shtp-ic.png" "=""></a></li>
          </ul>
        </div>
      </div>
      <!-- Copyright -->
      <div class="copyright-panel">
        <div class="col-md-8 col-xs-12 footer-info-panel">
          <div class="left-img">
            <a itemprop="url" class="footer-logo" href="/" title="Cổng thông tin vé xe khách lớn nhất Việt Nam">
              <img itemprop="logo" src="images/icon-vxr.svg" alt="" class="logo-1 img-responsive">
            </a>
          </div>
          <p>Bản quyền © 2017 thuộc về <span itemprop="name">VeXeRe.Com</span></p>
          <p>
            Tên công ty: CÔNG TY CỔ PHẦN VEXERE
            <br> Địa chỉ đăng ký kinh doanh: 8C Chữ Đồng Tử, Phường 7, Quận Tân Bình, Thành Phố Hồ Chí Minh, Việt Nam
          </p>
          <div class="text-p1">
            <p>
              Địa chỉ:
              <a href="#" title="Xem bản đồ" target="_blank"><span itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress"><span itemprop="streetAddress">Lầu M, Khu B, Tòa nhà Sài Gòn Town, 83/16 Thoại Ngọc Hầu, Phường Hòa Thạnh</span>, <span itemprop="addressLocality">Quận Tân Phú</span>, <span itemprop="addressRegion">TP. Hồ Chí Minh</span>, <span itemprop="addressCountry">Việt Nam</span></span></a>
              <br> Giấy chứng nhận ĐKKD số 0312387105 do Sở KH&amp; ĐT TP. Hồ Chí Minh cấp lần đầu ngày 25/7/2013
            </p>
          </div>
          <!-- Start Mixpanel Partner -->
          <div style="float: left">
            <a href="#" rel="nofollow">
              <img src="images/badge_light.png" alt="Mobile Analytics" style="width: 1px">
            </a>
          </div>
          <!-- End Mixpanel Partner -->
        </div>
        <div class="col-md-4 col-xs-12 certificate-panel">
          <div class="col-md-6 col-sm-3 col-xs-4">
            <img src="images/certificate0.png" class="img-responsive">
          </div>
          <div class="col-md-6  col-sm-3 col-xs-4">
            <img src="images/certificate1.png" class="img-responsive">
          </div>
          <div class="col-md-6 col-sm-3 hidden-xs" >
            <a href="#">
              <img src="images/certificate2.png" class="img-responsive">
            </a>
          </div>
          <div class="col-md-6 col-sm-3 col-xs-4">
            <a href="#">
              <img src="images/certificate3.png" class="img-responsive">
            </a>
          </div>
        </div>
        <!-- End Copyright -->
      </div>
    </div>
  </div>
</body>

</html>
