<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title> Tin tức </title>
    <!-- Bootstrap -->
   <!-- Bootstrap -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="css/font.css" />
  <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css" />
  <link rel="stylesheet" type="text/css" href="css/styles.css" />
  <link rel="stylesheet" type="text/css" href="css/responsive.css" />
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</head>

<body>
    <nav class="navbar navbar-default header-blue">
        <div class="container">
            <div class="row">
        <div class="col-md-3 col-sm-12 col-xs-12">
          <a href="#"><img src="images/logo.svg" class="img-responsive logo" style="display: inline-block;">

          </a><button type="button" class="navbar-toggle push-right" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="true">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="col-md-9 col-sm-12 col-xs-12">

          <div class="navbar-collapse collapse in" id="bs-example-navbar-collapse-1" aria-expanded="true">
            <div class=" menu-top ">
              <ul class="nav navbar-nav ul-menu">
                <li><a href="#" class="home">Trang chủ </a></li>
                <li><a href="#" class="home">Kiểm tra vé </a></li>
                <li><a href="#" class="home">Hủy vé </a></li>
                <li><a href="#" class="home">Phần mềm quản lý xe khách VBMS </a></li>
                <li><a href="#" class="home">VN <img src="images/vietnam_icon.png" class="icon1"></a></li>
                <li><a href="#" class="home">EN <img src="images/english_icon.png" class="icon1"></a></li>
              </ul>
            </div>
          </div>
        </div>
        <!-- /.navbar-collapse -->
      </div>
      <!--row-->
        </div>
    <!-- /.container -->
  </nav>
    <!--End#nav#header-top-->
    <div class="header-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1><strong> TIN TỨC TỪ VEXERE.COM</strong></h1>
                </div>
            </div>
            <!--End#row-->
        </div>
        <!--End#container-->
    </div>
    <!--End#header-content-->
    <div class="main-content">
        <div class="container">
            <div class="row">
                <div class="list-content">
                    <ul class="news-list-content">
                        <li class="news-item-content">
                            <div class="col-md-2 col-sm-3 ">
                                <a class="img-content" href="#" title="Nhà xe sao việt tặng vé miễn phí cho bệnh nhân khó khăn Lào Cai, Sa Pa" /> <img src="images/img-tintuc-1.jpg" alt="Vexegiare" />
                                </a>
                            </div>
                            <div class="col-md-10 col-sm-9 ">
                                <div class="title">
                                    <a class="news-tt" href="#"> Nhà xe sao việt tặng vé miễn phí cho bệnh nhân khó khăn Lào Cai, Sa Pa </a>
                                    <p> Hãng xe khách Sao Việt đã và đang trao tặng tới các bệnh nhân có hoàn cảnh khó khăn những tấm vé xe miễn phí trên các tuyến Sapa - Lào Cai - Hà Nội, trong suốt 2 năm qua.</p>
                                </div>
                                <!--End#title-->
                                <p class="share">
                                    Chia sẻ
                                    <a class="social-link share-fb" href="#" title="chia sẻ trên Facebook"> <img src="images/icon-fb.png" alt="Vexegiare" /> </a>
                                    <a class="social-link share-gg" href="#" title="chia sẻ trên Google"> <img src="images/icon-google.png" alt="Vexegiare" /> </a>
                                    <a class=" social-link share-zing" href="#" title="chia sẻ trên Zing"> <img src="images/icon-zing.png" alt="Vexegiare" /> </a>
                                </p>
                                <!--End#share-->
                            </div>
                        </li>
                        <!--End#news-item-content-->
                        <li class="news-item-content">
                            <div class="col-md-2 col-sm-3 ">
                                <a class="img-content" href="#" title="Xe Sài Gòn đi Nha Trang : Danh sách các nhà xe khuyến mãi lớn" /> <img src="images/img-tt-2.jpg" alt="Vexegiare" />
                                </a>
                            </div>
                            <div class="col-md-10 col-sm-9 ">
                                <div class="title">
                                    <a class="news-tt" href="#"> Xe Sài Gòn đi Nha Trang: Danh sách các nhà xe khuyến mãi lớn </a>
                                    <p> VeXeRe xin được cung cấp thông tin các nhà xe khuyến mãi tuyến Sài Gòn đi Nha Trang để hành khách có một mùa hè Nha Trang, Festival Biển 2017 tuyệt vời.</p>
                                </div>
                                <!--End#title-->
                                <p class="share">
                                    Chia sẻ
                                    <a class="social-link share-fb" href="#" title="chia sẻ trên Facebook"> <img src="images/icon-fb.png" alt="Vexegiare" /> </a>
                                    <a class="social-link share-gg" href="#" title="chia sẻ trên Google"> <img src="images/icon-google.png" alt="Vexegiare" /> </a>
                                    <a class=" social-link share-zing" href="#" title="chia sẻ trên Zing"> <img src="images/icon-zing.png" alt="Vexegiare" /> </a>
                                </p>
                                <!--End#share-->
                            </div>
                        </li>
                        <!--End#news-item-content-->
                        <li class="news-item-content">
                            <div class="col-md-2 col-sm-3 ">
                                <a class="img-content" href="#" title="Xe Cát Bà Express: Khuyến mãi 45% đi Hà Nội: Cát Bà" /> <img src="images/img-tt-3.jpg" alt="Vexegiare" />
                                </a>
                            </div>
                            <div class="col-md-10 col-sm-9 ">
                                <div class="title">
                                    <a class="news-tt" href="#"> Xe Cát Bà express: khuyến mãi 45% đi Hà Nội: Cát Bà </a>
                                    <p> Bạn còn chờ gì nữa, cơ hội đã đến, đi Cát Bà đơn giản và tiết kiệm chỉ với vài thao tác nhấn chuột đặt vé trên VeXeRe.com..</p>
                                </div>
                                <!--End#title-->
                               <p class="share">
                                    Chia sẻ
                                    <a class="social-link share-fb" href="#" title="chia sẻ trên Facebook"> <img src="images/icon-fb.png" alt="Vexegiare"> </a>
                                    <a class="social-link share-gg" href="#" title="chia sẻ trên Google"> <img src="images/icon-google.png" alt="Vexegiare"> </a>
                                    <a class=" social-link share-zing" href="#" title="chia sẻ trên Zing"> <img src="images/icon-zing.png" alt="Vexegiare"> </a>
                                </p>
                                <!--End#share-->
                            </div>
                        </li>
                        <!--End#news-item-content-->
                        <li class="news-item-content">
                            <div class="col-md-2 col-sm-3 ">
                                <a class="img-content" href="#" title="VÉ XE RẺ ĐI NHA TRANG MÙA FESTIVAL BIỂN 2017" /> <img src="images/img-tt-4.jpg" alt="Vexegiare" />
                                </a>
                            </div>
                            <div class="col-md-10 col-sm-9 ">
                                <div class="title">
                                    <a class="news-tt" href="#">VÉ XE RẺ ĐI NHA TRANG MÙA FESTIVAL BIỂN 2017 </a>
                                    <p> Lời hẹn với biển vẫn còn đó, thời điểm này Nha Trang lại một lần nữa “tất bật” chuẩn bị các khâu cuối cùng hoàn tất cho một kỳ Festival biển 2017 đầy hứa hẹn.</p>
                                </div>
                                <!--End#title-->
                                <p class="share">
                                    Chia sẻ
                                    <a class="social-link share-fb" href="#" title="chia sẻ trên Facebook"> <img src="images/icon-fb.png" alt="Vexegiare" /> </a>
                                    <a class="social-link share-gg" href="#" title="chia sẻ trên Google"> <img src="images/icon-google.png" alt="Vexegiare" /> </a>
                                    <a class=" social-link share-zing" href="#" title="chia sẻ trên Zing"> <img src="images/icon-zing.png" alt="Vexegiare" /> </a>
                                </p>
                                <!--End#share-->
                            </div>
                        </li>
                        <!--End#news-item-content-->
                        <li class="news-item-content">
                            <div class="col-md-2 col-sm-3 ">
                                <a class="img-content" href="#" title="XE INTER BUS LINES GIẢM GIÁ CÁC TUYẾN: HÀ NỘI ĐI SAPA, CÁT BÀ, HẠ LONG" /> <img src="images/img-tt-5.jpg" alt="Vexegiare" />
                                </a>
                            </div>
                            <div class="col-md-10 col-sm-9 ">
                                <div class="title">
                                    <a class="news-tt" href="#">XE INTER BUS LINES GIẢM GIÁ CÁC TUYẾN: HÀ NỘI ĐI SAPA, CÁT BÀ, HẠ LONG  </a>
                                    <p>Xe khách Inter Bus Lines khởi động chương trình khuyến mãi vé xe Hà Nội - Cát Bà, Hà Nội - Sapa, Hà Nội - Hạ Long. Vi vu hè cùng xe Inter Bus Lines và VeXeRe nhé.</p>
                                </div>
                                <!--End#title-->
                                <p class="share">
                                    Chia sẻ
                                    <a class="social-link share-fb" href="#" title="chia sẻ trên Facebook"> <img src="images/icon-fb.png" alt="Vexegiare" /> </a>
                                    <a class="social-link share-gg" href="#" title="chia sẻ trên Google"> <img src="images/icon-google.png" alt="Vexegiare" /> </a>
                                    <a class=" social-link share-zing" href="#" title="chia sẻ trên Zing"> <img src="images/icon-zing.png" alt="Vexegiare" /> </a>
                                </p>
                                <!--End#share-->
                            </div>
                        </li>
                        <!--End#news-item-content-->
                        <li class="news-item-content">
                            <div class="col-md-2 col-sm-3 ">
                                <a class="img-content" href="#" title="VeXeRe - Hiring Chief Accountant" /> <img src="images/img-tt-6.jpg" alt="Vexegiare" />
                                </a>
                            </div>
                            <div class="col-md-10 col-sm-9 ">
                                <div class="title">
                                    <a class="news-tt" href="#">VeXeRe - Hiring Chief Accountant  </a>
                                    <p>VeXeRe.com is seeking a potential candidate for Chief Accountant Position.</p>
                                </div>
                                <!--End#title-->
                                <p class="share">
                                    Chia sẻ
                                    <a class="social-link share-fb" href="#" title="chia sẻ trên Facebook"> <img src="images/icon-fb.png" alt="Vexegiare" /> </a>
                                    <a class="social-link share-gg" href="#" title="chia sẻ trên Google"> <img src="images/icon-google.png" alt="Vexegiare" /> </a>
                                    <a class=" social-link share-zing" href="#" title="chia sẻ trên Zing"> <img src="images/icon-zing.png" alt="Vexegiare" /> </a>
                                </p>
                                <!--End#share-->
                            </div>
                        </li>
                        <!--End#news-item-content-->
                        <li class="news-item-content">
                            <div class="col-md-2 col-sm-3 ">
                                <a class="img-content" href="#" title="VÉ XE HÈ RẺ ĐI HẠ LONG: “KHÔNG THỂ CƯỠNG LẠI VẺ ĐẸP Ở NƠI ĐÂY” " /> <img src="images/img-tt-7.jpg" alt="Vexegiare" />
                                </a>
                            </div>
                            <div class="col-md-10 col-sm-9 ">
                                <div class="title">
                                    <a class="news-tt" href="#">VÉ XE HÈ RẺ ĐI HẠ LONG: “KHÔNG THỂ CƯỠNG LẠI VẺ ĐẸP Ở NƠI ĐÂY”  </a>
                                    <p>Chuyến xe đi Hà Nội - Hạ Long còn lại đây biết bao cảm xúc mà có cơ hội vẫn muốn được quay lại.</p>
                                </div>
                                <!--End#title-->
                                <p class="share">
                                    Chia sẻ
                                    <a class="social-link share-fb" href="#" title="chia sẻ trên Facebook"> <img src="images/icon-fb.png" alt="Vexegiare" /> </a>
                                    <a class="social-link share-gg" href="#" title="chia sẻ trên Google"> <img src="images/icon-google.png" alt="Vexegiare" /> </a>
                                    <a class=" social-link share-zing" href="#" title="chia sẻ trên Zing"> <img src="images/icon-zing.png" alt="Vexegiare" /> </a>
                                </p>
                                <!--End#share-->
                            </div>
                        </li>
                        <!--End#news-item-content-->
                        <li class="news-item-content">
                            <div class="col-md-2 col-sm-3 ">
                                <a class="img-content" href="#" title="XE KHÁCH ĐI CÁT BÀ: NHỮNG ĐIỀU CẦN LƯU Ý " /> <img src="images/img-tt-8.jpg" alt="Vexegiare" />
                                </a>
                            </div>
                            <div class="col-md-10 col-sm-9 ">
                                <div class="title">
                                    <a class="news-tt" href="#">XE KHÁCH ĐI CÁT BÀ: NHỮNG ĐIỀU CẦN LƯU Ý </a>
                                    <p>Bài viết cung cấp những thông tin lưu ý cho hành khách khi di chuyển từ Hà Nội đi Cát Bà bằng xe khách, đảm bảo một chuyến đi Cát Bà dễ dàng và thuận tiện.</p>
                                </div>
                                <!--End#title-->
                                <p class="share">
                                    Chia sẻ
                                    <a class="social-link share-fb" href="#" title="chia sẻ trên Facebook"> <img src="images/icon-fb.png" alt="Vexegiare" /> </a>
                                    <a class="social-link share-gg" href="#" title="chia sẻ trên Google"> <img src="images/icon-google.png" alt="Vexegiare" /> </a>
                                    <a class=" social-link share-zing" href="#" title="chia sẻ trên Zing"> <img src="images/icon-zing.png" alt="Vexegiare" /> </a>
                                </p>
                                <!--End#share-->
                            </div>
                        </li>
                        <!--End#news-item-content-->
                        <li class="news-item-content">
                            <div class="col-md-2 col-sm-3 ">
                                <a class="img-content" href="#" title="XE TÂN HOÀNG ANH TUYẾN SÀI GÒN ĐI PHAN RANG - THÁP CHÀM " /> <img src="images/img-tt-9.jpg" alt="Vexegiare" />
                                </a>
                            </div>
                            <div class="col-md-10 col-sm-9 ">
                                <div class="title">
                                    <a class="news-tt" href="#">XE TÂN HOÀNG ANH TUYẾN SÀI GÒN ĐI PHAN RANG - THÁP CHÀM</a>
                                    <p>Sài Gòn đi Phan Rang - Tháp Chàm, VeXeRe cùng hãng xe khách Tân Hoàng Anh sẽ đưa bạn trở về nền văn hóa cổ đại còn ẩn chứa bao điều huyền bí này.</p>
                                </div>
                                <!--End#title-->
                                <p class="share">
                                    Chia sẻ
                                    <a class="social-link share-fb" href="#" title="chia sẻ trên Facebook"> <img src="images/icon-fb.png" alt="Vexegiare" /> </a>
                                    <a class="social-link share-gg" href="#" title="chia sẻ trên Google"> <img src="images/icon-google.png" alt="Vexegiare" /> </a>
                                    <a class=" social-link share-zing" href="#" title="chia sẻ trên Zing"> <img src="images/icon-zing.png" alt="Vexegiare" /> </a>
                                </p>
                                <!--End#share-->
                            </div>
                        </li>
                        <!--End#news-item-content-->
                        <li class="news-item-content">
                            <div class="col-md-2 col-sm-3 ">
                                <a class="img-content" href="#" title="VÉ XE HÈ RẺ ĐI CÁT BÀ - HÀ NỘI ĐI CÁT BÀ CHƯA BAO GIỜ RẺ HƠN" /> <img src="images/img-tt-3.jpg" alt="Vexegiare" />
                                </a>
                            </div>
                            <div class="col-md-10 col-sm-9 ">
                                <div class="title">
                                    <a class="news-tt" href="#">VÉ XE HÈ RẺ ĐI CÁT BÀ - HÀ NỘI ĐI CÁT BÀ CHƯA BAO GIỜ RẺ HƠN</a>
                                    <p>Đồng hành cùng VeXeRe đặt vé xe Hà Nội đi Cát Bà lần này quả thật làm mình vô cùng hài lòng.</p>
                                </div>
                                <!--End#title-->
                                <p class="share">
                                    Chia sẻ
                                    <a class="social-link share-fb" href="#" title="chia sẻ trên Facebook"> <img src="images/icon-fb.png" alt="Vexegiare" /> </a>
                                    <a class="social-link share-gg" href="#" title="chia sẻ trên Google"> <img src="images/icon-google.png" alt="Vexegiare" /> </a>
                                    <a class=" social-link share-zing" href="#" title="chia sẻ trên Zing"> <img src="images/icon-zing.png" alt="Vexegiare" /> </a>
                                </p>
                                <!--End#share-->
                            </div>
                        </li>
                        <!--End#news-item-content-->
                    </ul>
                    <!--End#news-list-content-->
                    <div class="page-next">
                        <nav aria-label="Page navigation">
                            <ul class="pagination pages-previous">
                                <li>
                                    <a href="#" aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#">4</a></li>
                                <li><a href="#">5</a></li>
                                <li>
                                    <a href="#" aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <!--End#page-next-->
                </div>
                <!--End#in-content-->
            </div>
            <!--End#row-->
        </div>
        <!---End#container-->
    </div>
    <!--End#main-content-->
    <div id="backLinkDiv" class="back-links odd-row clearfix hidden-xs hidden-sm">
    <div class="container">
      <div class="clearfix row">
        <div class="col-md-8 col-lg-8 pr0">
          <h3>Hãng xe khách</h3>
        </div>
        <div class="col-md-4 col-lg-4 pr0">
          <h3>Bến xe khách</h3>
        </div>
      </div>
      <!--Dang sua-->
      <div class="clearfix row">
        <div class="col-lg-2  col-md-2 pr0">
          <ul id="transporters">
            <!-- Có liên kết bán vé -->
            <li><a href="#">Xe Hiếu Hoa </a></li>
            <li><a href="#">Xe Hoàng Khải </a></li>
            <li><a href="#">Xe Hoàng Long </a></li>
            <li><a href="#">Xe Hoàng Nhân </a></li>
            <li><a href="#">Xe Hưng Long </a></li>
            <li><a href="#">Xe Huỳnh Gia </a></li>
            <li><a href="#">Xe Hòa Thuận Anh </a></li>
            <li><a href="#">Xe Camel Travel </a></li>
          </ul>
        </div>
        <div class="col-lg-2  col-md-2 pr0">
          <ul>
            <li><a href="#">Xe Sao Việt </a></li>
            <li><a href="#">Xe Sapa Express </a></li>
            <li><a href="#">Xe Thành Công </a></li>
            <li><a href="#">Xe Phúc Xuyên </a></li>
            <li><a href="#">Xe Phúc Thuận Thảo </a></li>
            <li><a href="#">Xe Thuận Tiến </a></li>
            <li><a href="#">Xe Năm Rùm </a></li>
            <li><a href="#">Xe Phương Heng </a></li>
          </ul>
        </div>
        <div class="col-lg-2  col-md-2 pr0">
          <ul>
            <li><a href="#">Xe Mai Linh </a></li>
            <li><a href="#">Xe Liên Hưng </a></li>
            <li><a href="#">Xe Phương Trang </a></li>
            <li><a href="#">Xe Xe Nhà </a></li>
            <li><a href="#">Xe Kumho Samco </a></li>
            <li><a href="#">Xe Kim Hoàng </a></li>
            <li><a href="#">Xe Quê Hương Phan Rang </a></li>
            <li><a href="#">Xe Hoàng Anh - Phan Rang </a></li>
          </ul>
        </div>
        <div class="col-lg-2  col-md-2 pr0">
          <ul>
            <li><a href="#">Xe Tiến Oanh </a></li>
            <li><a href="#">Xe Tuyết Hon </a></li>
            <li><a href="#">Xe Hà Linh </a></li>
            <li><a href="#">Xe Inter Bus Lines </a></li>
            <li><a href="#">Xe Hoa Mai </a></li>
            <li><a href="#">Xe Thành Bưởi </a></li>
            <li><a href="#">Xe Pumpkin Limousine </a></li>
            <li><a href="#">Xe Mekong Express </a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-2  pr0">
          <ul>
            <li><a href="#">Bến xe Miền Đông </a></li>
            <li><a href="#">Bến xe Miền Tây </a></li>
            <li><a href="#">Bến xe An Sương </a></li>
            <li><a href="#">Bến xe Mỹ Đình </a></li>
            <li><a href="#">Bến xe Nước Ngầm </a></li>
            <li><a href="#">Bến xe Tam Bạc </a></li>
          </ul>
        </div>
        <div class="col-lg-2 col-md-2  pr0">
          <ul>
            <li><a href="#">Bến xe Giáp Bát </a></li>
            <li><a href="#">Bến xe Lương Yên </a></li>
            <li><a href="#">Bến xe 91B Cần Thơ </a></li>
            <li><a href="#">Bến xe TT Đà Nẵng </a></li>
            <li><a href="#">Bến xe Đà Nẵng </a></li>
            <li><a href="#">Bến xe Cầu Rào </a></li>
            <li><a href="#">Bến xe Niệm Nghĩa </a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="footer-1">
        <div class="clearfix row">
          <div class="col-md-12 col-lg-12 pr0">
            <h3>Đặt mua vé xe các tuyến đường phổ biến</h3>
          </div>
        </div>
        <div class="clearfix row">
          <div class="col-md-4 col-lg-4 pr0">
            <ul>
              <li><a href="#">Vé xe Sài Gòn - Mũi Né</a></li>
              <li><a href="#">Vé Hà Nội - Tam Cốc Bích Động</a></li>
            </ul>
          </div>
          <div class="col-md-4 col-lg-4 pr0">
            <ul>
              <li><a href="#">Vé xe Hà Nội - Tràng An Bái Đính</a></li>
              <li><a href="#">Vé Hà Nội - Phong Nha Quảng Bình</a></li>
            </ul>
          </div>
          <div class="col-md-4 col-lg-4 pr0">
            <ul>
              <li><a href="#">Vé xe Hà Nội - Cát Bà Hải Phòng</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="footer">
    <div class="container">
      <div class="row contentfooter">
        <div class="col-md-3 col-sm-6 col-xs-6">
          <h4>Về chúng tôi</h4>
          <ul class="footer-links">
            <li><a href="/vi-VN/tin-tuc">Tin tức</a></li>
            <li><a rel="nofollow" href="/vi-VN/gioi-thieu.html">Xe khách</a></li>
            <li><a rel="nofollow" href="/vi-VN/lien-he.html">Liên hệ</a></li>
            <li><a href="/vexetet">Vé Xe Tết 2018</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
          <h4>Hỗ trợ</h4>
          <ul class="footer-links">
            <li><a rel="nofollow" href="/vi-VN/huong-dan-thanh-toan-tren-website.html">Hướng dẫn thanh toán</a></li>
            <li><a rel="nofollow" href="/vi-VN/quy-che.html">Quy chế VeXeRe.com</a></li>
            <li><a rel="nofollow" href="/vi-VN/nhung-cau-hoi-thuong-gap.html">Những câu hỏi thường gặp</a></li>
            <li><a href="/vi-vn/phan-mem-quan-ly-ban-ve-xe-khach-vexere.html">Phần mềm quản lý bán vé xe khách VBMS</a></li>
            <li><a href="/">Đặt vé xe khách trực tuyến</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
          <h4>Kết nối</h4>
          <div class="social col-08 clearfix">
            <a class="social-icon fb" rel="nofollow" title="Facebook" href="https://www.facebook.com/Vexere" target="_blank">Facebook</a>
            <a class="social-icon yt" rel="nofollow" title="Youtube" href="http://www.youtube.com/channel/UCyUfbHAH0X_CXF4n2Zg2WSA" target="_blank">Youtube</a>
            <a class="social-icon google-plus" rel="nofollow" title="Google+" href="https://plus.google.com/b/114193555551619053500/+VexereVN/posts?gmbpt=true&amp;hl=en" target="_blank">Google+</a>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-6">
          <h4>Đối tác</h4>
          <ul class="ul-user">
            <li><a target="_blank" href="http://csip.vn/" rel="nofollow"><img src="images/logo-csip.png" "=""></a></li>
            <li> <a target="_blank" href="http://bssc.vn/" rel="nofollow"><img src="images/logo-bssc.png" "=""></a></li>
            <li> <a target="_blank" href="http://shtpic.org/" rel="nofollow"><img src="images/logo-shtp-ic.png" "=""></a></li>
          </ul>
        </div>
      </div>
      <!-- Copyright -->
      <div class="copyright-panel">
        <div class="col-md-8 col-xs-12 footer-info-panel">
          <div class="left-img">
            <a itemprop="url" class="footer-logo" href="/" title="Cổng thông tin vé xe khách lớn nhất Việt Nam">
              <img itemprop="logo" src="images/icon-vxr.svg" alt="" class="logo-1 img-responsive">
            </a>
          </div>
          <p>Bản quyền © 2017 thuộc về <span itemprop="name">VeXeRe.Com</span></p>
          <p>
            Tên công ty: CÔNG TY CỔ PHẦN VEXERE
            <br> Địa chỉ đăng ký kinh doanh: 8C Chữ Đồng Tử, Phường 7, Quận Tân Bình, Thành Phố Hồ Chí Minh, Việt Nam
          </p>
          <div class="text-p1">
            <p>
              Địa chỉ:
              <a href="#" title="Xem bản đồ" target="_blank"><span itemprop="address" itemscope="" itemtype="http://schema.org/PostalAddress"><span itemprop="streetAddress">Lầu M, Khu B, Tòa nhà Sài Gòn Town, 83/16 Thoại Ngọc Hầu, Phường Hòa Thạnh</span>, <span itemprop="addressLocality">Quận Tân Phú</span>, <span itemprop="addressRegion">TP. Hồ Chí Minh</span>, <span itemprop="addressCountry">Việt Nam</span></span></a>
              <br> Giấy chứng nhận ĐKKD số 0312387105 do Sở KH&amp; ĐT TP. Hồ Chí Minh cấp lần đầu ngày 25/7/2013
            </p>
          </div>
          <!-- Start Mixpanel Partner -->
          <div style="float: left">
            <a href="#" rel="nofollow">
              <img src="images/badge_light.png" alt="Mobile Analytics" style="width: 1px">
            </a>
          </div>
          <!-- End Mixpanel Partner -->
        </div>
        <div class="col-md-4 col-xs-12 certificate-panel">
          <div class="col-md-6 col-sm-3 col-xs-4">
            <img src="images/certificate0.png" class="img-responsive">
          </div>
          <div class="col-md-6  col-sm-3 col-xs-4">
            <img src="images/certificate1.png" class="img-responsive">
          </div>
          <div class="col-md-6 col-sm-3 hidden-xs" >
            <a href="#">
              <img src="images/certificate2.png" class="img-responsive">
            </a>
          </div>
          <div class="col-md-6 col-sm-3 col-xs-4">
            <a href="#">
              <img src="images/certificate3.png" class="img-responsive">
            </a>
          </div>
        </div>
        <!-- End Copyright -->
      </div>
    </div>
  </div>
</body>

</html>
